# Tech Intro

## Main tables

In [2]:
# Real Estate's objects
real_estate_list: list = [
    'ag_object',
    'ag_parse_ad',
    'ag_lead_object',
    'ag_presentation_object',
    'ag_object_platform',
    'ag_posting_ad_realty',
    'native_realty_filial',
    'foreign_realty_filial',
    'spr_metro',
    'spr_metro_connection',
    'ag_object_parking']
# Lead's objects
lead_list: list = [
    'leads',
    'lead_utm',
    'client_wishes',
    'leads_email_order',
    'request_from_site',
    'lead_finance',
    'leads_source_spr',
    'leads_calls_connection',
    'leads_pipeline',
    'leads_not_implemented_reason',
    'leads_status',
    'ag_pipeline',
    'ag_pipeline_status',
    'leads_meta',
    'leads_meta_fields',
    'leads_meta_group',
    'leads_contacts_connect',
    'leads_contact',
    'leads_contact_meta',
    'leads_contact_meta_fields']
# Deal's objects
deal_list: list = [
    # Deal
    'a_deal',
    'a_deal_meta',
    'deal_passport',
    'a_deal_finance',
    'a_deal_check',
    'a_deal_test',
    # Contractor
    'a_contractor',
    'a_contractor_meta',
    'a_deal_contractor',
    'a_deal_contractor_meta',
    # Object
    'a_object',
    'a_object_meta',
    'a_deal_object']

## Main Variables

In [3]:
# Address and name of your notebook
venv_path = "/home/bigdata/a.umarov/jupyter_P24"
# Exploratory Data Analysis(EDA) table (eda_table)
eda_table = real_estate_list[0] # You can generate full-EDA cycle if you want through the all of tables
                                # Just iterate it !
# Exploratory Data Analysis(EDA) obj as PySpark DataFrame
eda_df = None
# Set the date of checking
sample_data_date = '20221027'

## Useful command and modules (can be transform into the 'importlib'- smart import logic)

In [4]:
import os
import pandas as pd
# To data analyze need the module
import pyspark.pandas as ps
os.environ["PYSPARK_PYTHON"] = f"{venv_path}/bin/python3"
os.environ["PYSPARK_DRIVER_PYTHON"] = f"{venv_path}/bin/python3"

import findspark
findspark.init("/opt/dev/spark/spark")
 
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession, SQLContext, DataFrameNaFunctions, \
                        Window, DataFrame, DataFrameStatFunctions, \
                        Column, Row, GroupedData, functions, types
from pyspark.sql.functions import isnan, when, count, col


conf = SparkConf().setAppName("get_info_from_" + eda_table + "_table")
sc = SparkContext(conf=conf)
sc.setLogLevel("ERROR")
spark = SparkSession(sc)

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
22/11/10 04:38:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/11/10 04:38:49 WARN SparkConf: Note that spark.local.dir will be overridden by the value set by the cluster manager (via SPARK_LOCAL_DIRS in mesos/standalone/kubernetes and LOCAL_DIRS in YARN).
22/11/10 04:38:50 WARN Utils: Service 'SparkUI' could not bind on port 4080. Attempting port 4081.
22/11/10 04:38:50 WARN Utils: Service 'SparkUI' could not bind on port 4081. Attempting port 4082.
22/11/10 04:38:50 WARN Utils: Service 'SparkUI' could not bind on port 4082. Attempting port 4083.
22/11/10 04:38:50 WARN Utils: Service 'SparkUI' could not bind on port 4083. Attempting port 4084.
22/11/10 04:38:50 WARN Utils: Service 'SparkUI' could not bind on port 4084. Attempting port 4085.
22/11/10 04:38:50 WARN Utils: Service 'SparkUI' could not bind on port 4085. Attempting port 4086.
22/11/10 04:38:50 WARN Utils: Service 'SparkUI' could not bind on port 4086. Attempting port 4087.
22/11/10 04:38:50 WARN Utils: Service 'SparkUI' could not bind on port 4087. Attempting port 4088.
22/11/10 04:38:50 WARN Utils: Service 'SparkUI' could not bind on port 4088. Attempting port 4089.
22/11/10 04:38:50 WARN Utils: Service 'SparkUI' could not bind on port 4089. Attempting port 4090.
22/11/10 04:38:50 WARN Utils: Service 'SparkUI' could not bind on port 4090. Attempting port 4091.
22/11/10 04:38:50 WARN Utils: Service 'SparkUI' could not bind on port 4091. Attempting port 4092.
22/11/10 04:38:50 WARN Utils: Service 'SparkUI' could not bind on port 4092. Attempting port 4093.
22/11/10 04:38:50 WARN Utils: Service 'SparkUI' could not bind on port 4093. Attempting port 4094.
22/11/10 04:38:50 WARN Utils: Service 'SparkUI' could not bind on port 4094. Attempting port 4095.
22/11/10 04:38:50 WARN Utils: Service 'SparkUI' could not bind on port 4095. Attempting port 4096.
22/11/10 04:38:50 WARN Utils: Service 'SparkUI' could not bind on port 4096. Attempting port 4097.
22/11/10 04:38:50 WARN Utils: Service 'SparkUI' could not bind on port 4097. Attempting port 4098.
22/11/10 04:38:50 WARN FairSchedulableBuilder: Fair Scheduler configuration file not found so jobs will be scheduled in FIFO order. To use fair scheduling, configure pools in fairscheduler.xml or set spark.scheduler.allocation.file to a file that contains the configuration.
2022-11-10 04:38:50,811:29379(0x7f7c8f923700):ZOO_INFO@log_env@753: Client environment:zookeeper.version=zookeeper C client 3.4.8
2022-11-10 04:38:50,811:29379(0x7f7c8f923700):ZOO_INFO@log_env@757: Client environment:host.name=sd-dts01
2022-11-10 04:38:50,811:29379(0x7f7c8f923700):ZOO_INFO@log_env@764: Client environment:os.name=Linux
2022-11-10 04:38:50,811:29379(0x7f7c8f923700):ZOO_INFO@log_env@765: Client environment:os.arch=3.10.0-1160.76.1.el7.x86_64
2022-11-10 04:38:50,811:29379(0x7f7c8f923700):ZOO_INFO@log_env@766: Client environment:os.version=#1 SMP Wed Aug 10 16:21:17 UTC 2022
2022-11-10 04:38:50,811:29379(0x7f7c8f923700):ZOO_INFO@log_env@774: Client environment:user.name=(null)
2022-11-10 04:38:50,811:29379(0x7f7c8f923700):ZOO_INFO@log_env@782: Client environment:user.home=/home/a.umarov
2022-11-10 04:38:50,811:29379(0x7f7c8f923700):ZOO_INFO@log_env@794: Client environment:user.dir=/home/a.umarov
2022-11-10 04:38:50,811:29379(0x7f7c8f923700):ZOO_INFO@zookeeper_init@827: Initiating client connection, host=sd-namenode01:2181,sd-namenode02:2181,sd-namenode03:2181 sessionTimeout=10000 watcher=0x7f7ca1d67cb0 sessionId=0 sessionPasswd=<null> context=0x7f7c4c000ad0 flags=0
I1110 04:38:50.811599 30279 sched.cpp:241] Version: 1.11.0
2022-11-10 04:38:50,812:29379(0x7f7c47fff700):ZOO_INFO@check_events@1764: initiated connection to server [10.62.4.14:2181]
2022-11-10 04:38:50,820:29379(0x7f7c47fff700):ZOO_INFO@check_events@1811: session establishment complete on server [10.62.4.14:2181], sessionId=0x3810621e7ff49cf, negotiated timeout=10000
I1110 04:38:50.820362 30223 group.cpp:341] Group process (zookeeper-group(1)@10.62.4.11:35265) connected to ZooKeeper
I1110 04:38:50.820416 30223 group.cpp:831] Syncing group operations: queue size (joins, cancels, datas) = (0, 0, 0)
I1110 04:38:50.820430 30223 group.cpp:419] Trying to create path '/samolet-mesos' in ZooKeeper
I1110 04:38:50.821879 30223 detector.cpp:152] Detected a new leader: (id='13')
I1110 04:38:50.821981 30244 group.cpp:700] Trying to get '/samolet-mesos/json.info_0000000013' in ZooKeeper
I1110 04:38:50.825016 30250 zookeeper.cpp:262] A new leading master (UPID=master@10.62.4.8:5050) is detected
I1110 04:38:50.825079 30251 sched.cpp:345] New master detected at master@10.62.4.8:5050
I1110 04:38:50.825356 30251 sched.cpp:365] No credentials provided. Attempting to register without authentication
I1110 04:38:50.827494 30266 sched.cpp:753] Framework registered with 89161c75-8817-4ae4-ab24-cba26241d6f9-56916

## Read the spec-file from Hadoop and show some data sample

In [5]:
eda_df = spark.read.parquet("/prod/source/p24/" + eda_table + "/datekey=" + sample_data_date)
eda_df.show(10, False)

+------+------------------------------------+--------+--------+------------------+-----+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------+-----------------------+-------------------------+-----------------------------+--------------------+-----------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------+------------------------------------------------------------------------------------------+---------+---------------+------+---------------+------+-----------+---------------+-----------+-----+------+---------+----------+----------+----------+----------+------------+-------+---------+------+--------+----+---------+-----------+-----+---------+----------+--------+------------------+-----------+------------+-----+------------+---------------------------+------------------+-------------------+----------+------------+-------------+-----------+
|id    |uuid                                |lead_id |agent_id|cad_number        |title|description                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |country|region                 |city                     |district                     |street              |address                                                                                                                            |address_view                                                                                                                 |location                                          |location2                                                                                 |price    |price_per_meter|is_new|rental_duration|tenant|object_type|object_sub_type|action_type|rooms|studio|video_url|created_by|created_at|updated_by|updated_at|published_at|deleted|filial_id|status|area    |sort|hot_offer|create_type|house|apartment|date_begin|date_end|cad_number_land   |listing_fee|is_apartment|floor|total_floors|walls_material             |empty_fields_count|upload_errors_count|company_id|market_price|pdf_link_hash|agent_bonus|
+------+------------------------------------+--------+--------+------------------+-----+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------+-----------------------+-------------------------+-----------------------------+--------------------+-----------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------+------------------------------------------------------------------------------------------+---------+---------------+------+---------------+------+-----------+---------------+-----------+-----+------+---------+----------+----------+----------+----------+------------+-------+---------+------+--------+----+---------+-----------+-----+---------+----------+--------+------------------+-----------+------------+-----+------------+---------------------------+------------------+-------------------+----------+------------+-------------+-----------+
|100002|976de3c7-1ae8-589e-2926-38ed6eb9ae46|21478730|null    |66:35:0221001:7043|     |<p>Продается участок 7,35 сот в Кировском районе по адресу: КП Европа, ул.Альпийская, 24.</p><p>.</p><p>Близость к городу. ЛЕС, ВОДОЕМ, ВСЕ КОММУНИКАЦИИ. Коттеджный поселок «ЕВРОПА». Расположен в 5 км от Екатеринбурга и в 2 км от г.Березовского по дороге на Новосвердловскую ТЭЦ, в красивейшем месте на поляне в окружении леса. В поселке газ, электричество, уличное освещение, круглосуточная охрана. На территории поселка: детская площадка, волейбольная площадка, прогулочно-парковая зона. В шаговой доступности природный водоем с зонами отдыха (комплекс «Чистые пруды»). Возможна прописка. Дорога - асфальт! Вывоз мусора, круглосуточная охрана. На территории активно идет застройка. Все обустроено для жизни.</p><p>Участок пустой, правильной формы, ровный и солнечный, расположен на горке в самой высокой точке поселка. Номер по генплану 24. Заезд отсыпан щебнем, установлена труба. Асфальт до участка.</p><p></p><p>Звоните ПРЯМО СЕЙЧАС, пока участок ВАШЕЙ мечты не купил кто-то другой.</p><p>.</p><p>ФЕДЕРАЛЬНАЯ КОМПАНИЯ "ПЕРСПЕКТИВА24" ГАРАНТИРУЕТ ФИНАНСОВУЮ БЕЗОПАСНОСТЬ ДЛЯ НАШИХ КЛИЕНТОВ.</p><p>.</p><p>Мы предоставляем бесплатные сертификаты на услугу по рефинансированию ипотечного кредита. </p><p>.</p><p>При звонке назовите оператору номер лота.</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |Россия |Свердловская область   |коттеджный поселок Европа|null                         |Альпийская улица    |Россия, Свердловская область, Берёзовский городской округ, коттеджный поселок Европа, Альпийская улица, 67                         |Россия Свердловская область Берёзовский городской округ коттеджный поселок Европа Альпийская улица 67                        |{"wkb":"AQEAAAAc8Sp/p25MQB6WP7igaU5A","srid":null}|{"x":60.825217276619,"y":56.864486595123,"wkb":"AQEAAAAelj+4oGlOQBzxKn+nbkxA","srid":null}|930000.0 |1300           |0     |365            |0     |5          |21             |1          |5    |0     |null     |3790791   |1620909814|3788312   |1663568205|null        |0      |46       |3     |735.0   |1.0 |0        |null       |67   |null     |null      |null    |66:35:0221001:7043|Package    |0           |null |1           |Экспериментальные материалы|0                 |2                  |1         |null        |             |null       |
|100028|d62575a0-28b7-2071-8781-23eab84ff60d|21478777|null    |null              |     |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |Россия |Московская область     |Реутов                   |5-й микрорайон               |улица Ленина        |Россия, Московская область, Реутов, улица Ленина, 22                                                                               |Россия Московская область Реутов улица Ленина 22                                                                             |{"wkb":"AQEAAADOCtbsTOFLQAtBDkqY7UJA","srid":null}|{"x":37.85621,"y":55.760160069001,"wkb":"AQEAAAALQQ5KmO1CQM4K1uxM4UtA","srid":null}       |8200000.0|182200         |0     |365            |0     |1          |null           |1          |2    |0     |null     |3794401   |1620912761|3793152   |1622624954|null        |0      |65       |7     |45.0    |1.0 |0        |null       |22   |null     |1621890000|null    |null              |Package    |0           |2    |5           |null                       |0                 |0                  |1         |null        |             |null       |
|100066|3aa6db95-6ffa-6169-8068-5786a31da55a|21478848|null    |33:04:050601:565  |     |<h1>Продается земельный участок 10 га </h1><p></p><p>Участок ровный, без уклонов и перепадов.</p><p>Подъезд к земельному участку грунтовая дорога.</p><p>Водоснабжение: копка колодца, либо бурение скважины, на ваше усмотрение.</p><p>Электричество - в 200 м проходит ЛЭП. </p><p>Рядом речка и лес.</p><p><strong>По программе газификации</strong> ЖКХ Юрьев-Польского района <strong>газ</strong> будет подведен <strong>в 2022 году.</strong></p><p>Подходит:</p><ol><li>для сельскохозяйственной деятельности;</li><li>для фермерских хозяйств (садоводства, овощеводства, цветоводства, семеноводства, скотоводства, птицеводства, пчеловодства, товарного рыбоводства или другой деятельности в целях производства сельскохозяйственной продукции);</li><li>для деятельности по хранению и переработке сырья для земледелия;</li><li>для проведение исследовательской работы и научных экспериментов в сфере агропромышленного комплекса.</li></ol><p></p><p>Возможна постройка:</p><ul><li> объектов для проживания (с возможностью прописки);</li><li>капитальных складов;</li><li>цехов;</li><li>амбаров;</li><li>овощехранилищ;</li><li>гаражей;</li><li>сараев.</li></ul><p>Электричество на границе участка.</p><p>Участок расположен в 17 км от города Юрьев-Польский и </p><p>в 80 км от г. Владимир. </p><p>Участок находится рядом с д. Юрково.</p><p>За пределами охранной зоны.</p><p></p><p>Категория земель: земли сельскохозяйственного назначения.</p><p>Разрешенное использование: для ведения крестьянского(фермерского) хозяйства.</p><p></p><p><strong>Кадастровый номер: 33:04:050601:565</strong></p><p></p><p>Участки ранее обрабатывались.</p><p></p><p>Земельные участки в собственности.</p>                                                                                                                                                                                                                                                                                                                                                   |Россия |Владимирская область   |деревня Юрково           |null                         |Луговая улица       |Россия, Владимирская область, Юрьев-Польский район, деревня Юрково                                                                 |Россия Владимирская область Юрьев Польский район деревня Юрково                                                              |{"wkb":"AQEAAAAM9Er3HU1MQB5n+9xW5ENA","srid":null}|{"x":39.783900854831,"y":56.602476989363,"wkb":"AQEAAAAeZ/vcVuRDQAz0SvcdTUxA","srid":null}|565000.0 |0              |0     |365            |0     |5          |21             |1          |null |0     |null     |3792885   |1620917800|3806686   |1665055070|null        |0      |69       |3     |100000.0|1.0 |0        |null       |16Б  |         |null      |null    |null              |Package    |0           |null |null        |null                       |0                 |1                  |1         |null        |             |null       |

## Show columns' properties

In [6]:
print('Data overview')
eda_df.printSchema()

Data overview
root
 |-- id: string (nullable = true)
 |-- uuid: string (nullable = true)
 |-- lead_id: string (nullable = true)
 |-- agent_id: string (nullable = true)
 |-- cad_number: string (nullable = true)
 |-- title: string (nullable = true)
 |-- description: string (nullable = true)
 |-- country: string (nullable = true)
 |-- region: string (nullable = true)
 |-- city: string (nullable = true)
 |-- district: string (nullable = true)
 |-- street: string (nullable = true)
 |-- address: string (nullable = true)
 |-- address_view: string (nullable = true)
 |-- location: string (nullable = true)
 |-- location2: string (nullable = true)
 |-- price: string (nullable = true)
 |-- price_per_meter: string (nullable = true)
 |-- is_new: string (nullable = true)
 |-- rental_duration: string (nullable = true)
 |-- tenant: string (nullable = true)
 |-- object_type: string (nullable = true)
 |-- object_sub_type: string (nullable = true)
 |-- action_type: string (nullable = true)
 |-- rooms: string (nullable = true)
 |-- studio: string (nullable = true)
 |-- video_url: string (nullable = true)
 |-- created_by: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- updated_by: string (nullable = true)
 |-- updated_at: string (nullable = true)
 |-- published_at: string (nullable = true)
 |-- deleted: string (nullable = true)
 |-- filial_id: string (nullable = true)
 |-- status: string (nullable = true)
 |-- area: string (nullable = true)
 |-- sort: string (nullable = true)
 |-- hot_offer: string (nullable = true)
 |-- create_type: string (nullable = true)
 |-- house: string (nullable = true)
 |-- apartment: string (nullable = true)
 |-- date_begin: string (nullable = true)
 |-- date_end: string (nullable = true)
 |-- cad_number_land: string (nullable = true)
 |-- listing_fee: string (nullable = true)
 |-- is_apartment: string (nullable = true)
 |-- floor: string (nullable = true)
 |-- total_floors: string (nullable = true)
 |-- walls_material: string (nullable = true)
 |-- empty_fields_count: string (nullable = true)
 |-- upload_errors_count: string (nullable = true)
 |-- company_id: string (nullable = true)
 |-- market_price: string (nullable = true)
 |-- pdf_link_hash: string (nullable = true)
 |-- agent_bonus: string (nullable = true)

## Total rows (count)

In [7]:
eda_df.count()

301099

## Simple func to execute and show the result of the SQL-instruction

In [27]:
def execute(select_instruction: str = "select count(*) from realEstate") -> object:
    """
    Method to execute and show the result of your SQL-instruction
    :default -> "select count(*) from realEstate"
    :param :string select_instruction: SQL statement
    :return: result of the SQL-operation as a table
    """
    return spark.sql(select_instruction).show(truncate = False)

## Create the temp-table-view from the DF (called as "eda_sql")

In [9]:
eda_df.createOrReplaceTempView("eda_sql")

## Check the method and temp-table

In [10]:
execute("select count(*) from eda_sql")

+--------+
|count(1)|
+--------+
|  301099|
+--------+

## Detect missing values and abnormal zeroes and print it

###### Check-rule Matrix


|  Name of the rule    |Available                   
|----------------------|-------------------------|
|NULL/NaN/NA           |+                        |
|'Zero'-value          |+                        |
|'Empty-string'        |+                        |

### 1st solution (PySpark & Pandas version)
#### Max perfomance but harder to read & understand

##### Filter and count after - all the values in the  our EDA-DF

In [11]:
# NULL/NaN/NA values condition
eda_df_null_values = eda_df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) \
                                    for c in eda_df.columns]).toPandas()
eda_df_null_values

,id,uuid,lead_id,agent_id,cad_number,title,description,country,region,city,...,is_apartment,floor,total_floors,walls_material,empty_fields_count,upload_errors_count,company_id,market_price,pdf_link_hash,agent_bonus
0,0,0,0,298827,208321,0,0,16586,16827,19996,...,0,90828,63025,153549,0,0,0,296247,0,298904

In [12]:
# Zero values condition
eda_df_zero_values = eda_df.select([count(when(col(c) == 0, c)).alias(c) \
                                    for c in eda_df.columns]).toPandas()
eda_df_zero_values

,id,uuid,lead_id,agent_id,cad_number,title,description,country,region,city,...,is_apartment,floor,total_floors,walls_material,empty_fields_count,upload_errors_count,company_id,market_price,pdf_link_hash,agent_bonus
0,0,0,0,0,31,1,0,0,0,0,...,298727,3994,4386,0,234398,278036,0,158,0,415

In [13]:
# Empty-string values condition
eda_df_empty_values = eda_df.select([count(when(col(c) == '', c)).alias(c) \
                                     for c in eda_df.columns]).toPandas()
eda_df_empty_values

,id,uuid,lead_id,agent_id,cad_number,title,description,country,region,city,...,is_apartment,floor,total_floors,walls_material,empty_fields_count,upload_errors_count,company_id,market_price,pdf_link_hash,agent_bonus
0,0,0,0,0,4502,300978,58189,383,433,1216,...,0,0,0,0,0,0,0,0,299921,0

In [14]:
# Unlock the limit to display all the columns
pd.options.display.max_rows = None
# To transpose a dataframe - use .T method
eda_df_pandas = pd.concat([eda_df_null_values, eda_df_zero_values, eda_df_empty_values], axis = 'index').T
# To rename columns to anything else after the transpose
eda_df_pandas.columns = (['NULL','Zero','Empty_string'])
eda_df_pandas

                       NULL    Zero  Empty_string
id                        0       0             0
uuid                      0       0             0
lead_id                   0       0             0
agent_id             298827       0             0
cad_number           208321      31          4502
title                     0       1        300978
description               0       0         58189
country               16586       0           383
region                16827       0           433
city                  19996       0          1216
district             167608       0            11
street                42146       0          6618
address                8153       0           370
address_view           8153       0           370
location               1018       0             0
location2                 0       0             0
price                     0    8998             0
price_per_meter       37912   20526             0
is_new                    0  276432             0
rental_duration           0      18             0
tenant                    0  301019             0
object_type               0     892             0
object_sub_type      252561       0             0
action_type               0       0             0
rooms                 72129    1225             0
studio                    0  287575             0
video_url            295497       0           516
created_by                0       0             0
created_at                0       0             0
updated_by                0       0             0
updated_at                0       0             0
published_at         267874       0             0
deleted                   0  301014             0
filial_id                 4       0             0
status                    0   65627             0
area                      0   13561             0
sort                      0       0             0
hot_offer                 0  301099             0
create_type          270079       0             0
house                 40990       4          7245
apartment            163642    3373          8316
date_begin           263338       0             0
date_end             289173       0             0
cad_number_land      290281      10           959
listing_fee               0       0             0
is_apartment              0  298727             0
floor                 90828    3994             0
total_floors          63025    4386             0
walls_material       153549       0             0
empty_fields_count        0  234398             0
upload_errors_count       0  278036             0
company_id                0       0             0
market_price         296247     158             0
pdf_link_hash             0       0        299921
agent_bonus          298904     415             0

In [15]:
def set_result_to_percent(df: object = None) -> object:
    """
    Method to execute and show the result of your PandasDataFrame
    :default -> None-object
    :param :Pandas DF
    :return: DF after the conversion (absolute -> percent)
    """
    if df is None:
        return "Please incl. at least one Pandas DF as a parameter"
    return round(df * 100 / eda_df.count(), 3)

In [16]:
set_result_to_percent(eda_df_pandas)

                       NULL     Zero  Empty_string
id                    0.000    0.000         0.000
uuid                  0.000    0.000         0.000
lead_id               0.000    0.000         0.000
agent_id             99.245    0.000         0.000
cad_number           69.187    0.010         1.495
title                 0.000    0.000        99.960
description           0.000    0.000        19.326
country               5.508    0.000         0.127
region                5.589    0.000         0.144
city                  6.641    0.000         0.404
district             55.665    0.000         0.004
street               13.997    0.000         2.198
address               2.708    0.000         0.123
address_view          2.708    0.000         0.123
location              0.338    0.000         0.000
location2             0.000    0.000         0.000
price                 0.000    2.988         0.000
price_per_meter      12.591    6.817         0.000
is_new                0.000   91.808         0.000
rental_duration       0.000    0.006         0.000
tenant                0.000   99.973         0.000
object_type           0.000    0.296         0.000
object_sub_type      83.880    0.000         0.000
action_type           0.000    0.000         0.000
rooms                23.955    0.407         0.000
studio                0.000   95.508         0.000
video_url            98.139    0.000         0.171
created_by            0.000    0.000         0.000
created_at            0.000    0.000         0.000
updated_by            0.000    0.000         0.000
updated_at            0.000    0.000         0.000
published_at         88.965    0.000         0.000
deleted               0.000   99.972         0.000
filial_id             0.001    0.000         0.000
status                0.000   21.796         0.000
area                  0.000    4.504         0.000
sort                  0.000    0.000         0.000
hot_offer             0.000  100.000         0.000
create_type          89.698    0.000         0.000
house                13.613    0.001         2.406
apartment            54.348    1.120         2.762
date_begin           87.459    0.000         0.000
date_end             96.039    0.000         0.000
cad_number_land      96.407    0.003         0.318
listing_fee           0.000    0.000         0.000
is_apartment          0.000   99.212         0.000
floor                30.165    1.326         0.000
total_floors         20.932    1.457         0.000
walls_material       50.996    0.000         0.000
empty_fields_count    0.000   77.847         0.000
upload_errors_count   0.000   92.340         0.000
company_id            0.000    0.000         0.000
market_price         98.389    0.052         0.000
pdf_link_hash         0.000    0.000        99.609
agent_bonus          99.271    0.138         0.000

### SQL-instructions

In [33]:
for col in eda_df.columns:
    execute("select count(distinct("+ col + ")) from eda_sql")

+------------------+
|count(DISTINCT id)|
+------------------+
|301099            |
+------------------+

+--------------------+
|count(DISTINCT uuid)|
+--------------------+
|301099              |
+--------------------+

+-----------------------+
|count(DISTINCT lead_id)|
+-----------------------+
|301025                 |
+-----------------------+

+------------------------+
|count(DISTINCT agent_id)|
+------------------------+
|216                     |
+------------------------+

+--------------------------+
|count(DISTINCT cad_number)|
+--------------------------+
|80186                     |
+--------------------------+

+---------------------+
|count(DISTINCT title)|
+---------------------+
|120                  |
+---------------------+

+---------------------------+
|count(DISTINCT description)|
+---------------------------+
|233413                     |
+---------------------------+

+-----------------------+
|count(DISTINCT country)|
+-----------------------+
|29                     |
+-----------------------+

+----------------------+
|count(DISTINCT region)|
+----------------------+
|187                   |
+----------------------+

+--------------------+
|count(DISTINCT city)|
+--------------------+
|8956                |
+--------------------+

+------------------------+
|count(DISTINCT district)|
+------------------------+
|4782                    |
+------------------------+

+----------------------+
|count(DISTINCT street)|
+----------------------+
|15167                 |
+----------------------+

+-----------------------+
|count(DISTINCT address)|
+-----------------------+
|155175                 |
+-----------------------+

+----------------------------+
|count(DISTINCT address_view)|
+----------------------------+
|155111                      |
+----------------------------+

+------------------------+
|count(DISTINCT location)|
+------------------------+
|176034                  |
+------------------------+

+-------------------------+
|count(DISTINCT location2)|
+-------------------------+
|176034                   |
+-------------------------+

+---------------------+
|count(DISTINCT price)|
+---------------------+
|17591                |
+---------------------+

+-------------------------------+
|count(DISTINCT price_per_meter)|
+-------------------------------+
|6594                           |
+-------------------------------+

+----------------------+
|count(DISTINCT is_new)|
+----------------------+
|2                     |
+----------------------+

+-------------------------------+
|count(DISTINCT rental_duration)|
+-------------------------------+
|6                              |
+-------------------------------+

+----------------------+
|count(DISTINCT tenant)|
+----------------------+
|2                     |
+----------------------+

+---------------------------+
|count(DISTINCT object_type)|
+---------------------------+
|10                         |
+---------------------------+

+-------------------------------+
|count(DISTINCT object_sub_type)|
+-------------------------------+
|28                             |
+-------------------------------+

+---------------------------+
|count(DISTINCT action_type)|
+---------------------------+
|2                          |
+---------------------------+

+---------------------+
|count(DISTINCT rooms)|
+---------------------+
|83                   |
+---------------------+

+----------------------+
|count(DISTINCT studio)|
+----------------------+
|2                     |
+----------------------+

+-------------------------+
|count(DISTINCT video_url)|
+-------------------------+
|4496                     |
+-------------------------+

+--------------------------+
|count(DISTINCT created_by)|
+--------------------------+
|11163                     |
+--------------------------+

+--------------------------+
|count(DISTINCT created_at)|
+--------------------------+
|279506                    |
+--------------------------+

+--------------------------+
|count(DISTINCT updated_by)|
+--------------------------+
|7460                      |
+--------------------------+

+--------------------------+
|count(DISTINCT updated_at)|
+--------------------------+
|256372                    |
+--------------------------+

+----------------------------+
|count(DISTINCT published_at)|
+----------------------------+
|33170                       |
+----------------------------+

+-----------------------+
|count(DISTINCT deleted)|
+-----------------------+
|2                      |
+-----------------------+

+-------------------------+
|count(DISTINCT filial_id)|
+-------------------------+
|204                      |
+-------------------------+

+----------------------+
|count(DISTINCT status)|
+----------------------+
|4                     |
+----------------------+

+--------------------+
|count(DISTINCT area)|
+--------------------+
|7707                |
+--------------------+

+--------------------+
|count(DISTINCT sort)|
+--------------------+
|1                   |
+--------------------+

+-------------------------+
|count(DISTINCT hot_offer)|
+-------------------------+
|1                        |
+-------------------------+

+---------------------------+
|count(DISTINCT create_type)|
+---------------------------+
|1                          |
+---------------------------+

+---------------------+
|count(DISTINCT house)|
+---------------------+
|7886                 |
+---------------------+

+-------------------------+
|count(DISTINCT apartment)|
+-------------------------+
|1703                     |
+-------------------------+

+--------------------------+
|count(DISTINCT date_begin)|
+--------------------------+
|4286                      |
+--------------------------+

+------------------------+
|count(DISTINCT date_end)|
+------------------------+
|2234                    |
+------------------------+

+-------------------------------+
|count(DISTINCT cad_number_land)|
+-------------------------------+
|9222                           |
+-------------------------------+

+---------------------------+
|count(DISTINCT listing_fee)|
+---------------------------+
|3                          |
+---------------------------+

+----------------------------+
|count(DISTINCT is_apartment)|
+----------------------------+
|2                           |
+----------------------------+

+---------------------+
|count(DISTINCT floor)|
+---------------------+
|73                   |
+---------------------+

+----------------------------+
|count(DISTINCT total_floors)|
+----------------------------+
|109                         |
+----------------------------+

+------------------------------+
|count(DISTINCT walls_material)|
+------------------------------+
|29                            |
+------------------------------+

+----------------------------------+
|count(DISTINCT empty_fields_count)|
+----------------------------------+
|35                                |
+----------------------------------+

+-----------------------------------+
|count(DISTINCT upload_errors_count)|
+-----------------------------------+
|11                                 |
+-----------------------------------+

+--------------------------+
|count(DISTINCT company_id)|
+--------------------------+
|2                         |
+--------------------------+

+----------------------------+
|count(DISTINCT market_price)|
+----------------------------+
|700                         |
+----------------------------+

+-----------------------------+
|count(DISTINCT pdf_link_hash)|
+-----------------------------+
|1179                         |
+-----------------------------+

+---------------------------+
|count(DISTINCT agent_bonus)|
+---------------------------+
|48                         |
+---------------------------+

In [141]:
#Find dupes or misunderstanding or useless static values 301 099 total

execute("SELECT lead_id,\
        count(lead_id) AS quantity \
        FROM eda_sql\
        GROUP BY lead_id\
        HAVING count(lead_id) > 1 \
        ORDER BY quantity DESC")

execute("SELECT CAST(id AS integer),\
        uuid \
        FROM eda_sql\
        ORDER BY id DESC, uuid DESC")

execute("SELECT cad_number,\
        count(cad_number) AS quantity \
        FROM eda_sql\
        GROUP BY cad_number\
        HAVING count(cad_number) > 1 \
        ORDER BY quantity DESC")

execute("SELECT \
        count(description) AS quantity \
        FROM eda_sql\
        GROUP BY description\
        HAVING count(description) > 1 \
        ORDER BY quantity DESC")

execute("SELECT DISTINCT(country)\
        FROM eda_sql")

execute("SELECT DISTINCT location, location2\
        FROM eda_sql")

execute("SELECT price_per_meter,\
        count(price_per_meter) AS quantity \
        FROM eda_sql\
        GROUP BY price_per_meter\
        ORDER BY price_per_meter DESC")

execute("SELECT distinct(cast(rooms as integer))\
        FROM eda_sql\
        ORDER BY ROOMS DESC")

execute("SELECT distinct(video_url)\
        FROM eda_sql\
        ORDER BY video_url desc")

execute("SELECT distinct(cast(filial_id as integer))\
        FROM eda_sql\
        ORDER BY filial_id desc")

execute("SELECT distinct(house)\
        FROM eda_sql\
        ORDER BY house desc")

execute("SELECT distinct(apartment)\
        FROM eda_sql\
        ORDER BY apartment desc")

execute("SELECT distinct(cad_number_land)\
        FROM eda_sql\
        ORDER BY cad_number_land desc")

execute("SELECT distinct(company_id)\
        FROM eda_sql\
        ORDER BY company_id desc")

execute("SELECT distinct(cast(market_price as integer))\
        FROM eda_sql\
        ORDER BY market_price asc")

execute("SELECT distinct(pdf_link_hash)\
        FROM eda_sql\
        ORDER BY pdf_link_hash ASC")

execute("SELECT distinct(address_view)\
        FROM eda_sql\
        ORDER BY address_view ASC")

execute("SELECT distinct(area)\
        FROM eda_sql\
        ORDER BY area DESC")

execute("SELECT distinct(agent_bonus)\
        FROM eda_sql\
        ORDER BY agent_bonus ASC")

+--------+--------+
|lead_id |quantity|
+--------+--------+
|21311113|15      |
|21311869|5       |
|21398176|3       |
|21311825|3       |
|21302510|3       |
|21297209|3       |
|21679515|3       |
|21311639|3       |
|21779040|2       |
|21398168|2       |
|21308048|2       |
|21312270|2       |
|21339294|2       |
|21427558|2       |
|21337573|2       |
|21298091|2       |
|21312349|2       |
|21297192|2       |
|21310367|2       |
|21393464|2       |
+--------+--------+
only showing top 20 rows

+------+------------------------------------+
|id    |uuid                                |
+------+------------------------------------+
|333129|3adda455-f6a1-3f20-43f0-5deb40fccffb|
|333128|71a5bac3-3733-f012-96e8-258ca5fed78e|
|333127|afc0b0f1-591c-f74a-221b-d96cf92fbab0|
|333126|6a0392d3-88ea-ed34-afe1-f84906d0edb9|
|333125|638d28a3-fbf7-9552-e3aa-d5f8cb3f91a6|
|333124|cc0c7edf-6ab4-32e7-4f43-5a341caaeb42|
|333123|fb51be5b-e204-c708-431a-c8c0a5db2d80|
|333122|447823e6-2987-6d4a-90c6-94498f1d239e|
|333121|f1e138eb-7c20-cfe9-eb1b-91311ba45bc9|
|333120|948e6a68-3f9d-bcdd-92f9-c79e2ec5b2f4|
|333119|5382ca67-0c95-0ceb-f611-6aff87e10c4c|
|333118|8ad0ceb8-6f84-4e91-863a-6e84dd3f1217|
|333117|871cd5f0-c009-89df-7cba-71a7edcdf09e|
|333116|1780f0a4-4ae3-95f7-438d-e52b167ca7c0|
|333115|abf10147-fdf0-a320-68ad-0f919ae6275f|
|333114|5ddc75ea-4b2d-a5d7-d4c2-f9edf6f0bb2b|
|333113|c14f2355-f5c9-e515-5111-291df8ad6c1b|
|333112|277b8de8-cccb-bf3d-5d35-f75a8ce57f4e|
|333111|b5906822-c054-251d-43d2-66679c691f4a|
|333110|0f5cb201-e359-ad9b-b90d-27b5182da956|
+------+------------------------------------+
only showing top 20 rows

+------------------------------+--------+
|cad_number                    |quantity|
+------------------------------+--------+
|                              |4502    |
|1                             |84      |
|-                             |49      |
|02:55:020631:1803             |37      |
|02:55:050504:2277             |27      |
|24:50:0000000:193107          |27      |
|02:55:030267:1455             |20      |
|02:55:020603:5236             |20      |
|02:55:010131:686              |18      |
|22:65:000000:0000:01:405:002:0|18      |
|02:55:050229:528              |17      |
|Республика Башкортостан       |17      |
|0                             |15      |
|02:55:020412:2801             |15      |
|8052:5789:2341:8974           |15      |
|02:55:050229:529              |15      |
|02:55:050702:97               |14      |
|02:55:010225:339              |14      |
|Белгородская область          |13      |
|Ярославская область           |12      |
+------------------------------+--------+
only showing top 20 rows

+--------+
|quantity|
+--------+
|58189   |
|712     |
|646     |
|109     |
|102     |
|87      |
|82      |
|81      |
|78      |
|78      |
|75      |
|65      |
|63      |
|60      |
|56      |
|55      |
|48      |
|47      |
|45      |
|45      |
+--------+
only showing top 20 rows

+-----------------------------+
|country                      |
+-----------------------------+
|Беларусь                     |
|null                         |
|Узбекистан                   |
|Абхазия                      |
|Россия                       |
|россия                       |
|Объединенные Арабские Эмираты|
|РФ                           |
|Армения                      |
|РОс                          |
|Чехия                        |
|Азербайджан                  |
|Казахстан                    |
|Казахстан                    |
| РоссияоРОРоссия             |
|                             |
|Россия                       |
|Таиланд                      |
|Турция                       |
|Киргизия                     |
+-----------------------------+
only showing top 20 rows

+--------------------------------------------------+------------------------------------------------------------------------------------------+
|location                                          |location2                                                                                 |
+--------------------------------------------------+------------------------------------------------------------------------------------------+
|{"wkb":"AQEAAABRq23VldVOQBHDDmPSZklA","srid":null}|{"x":50.8032955,"y":61.668635061788,"wkb":"AQEAAAARww5j0mZJQFGrbdWV1U5A","srid":null}     |
|{"wkb":"AQEAAADF7sOBW/FLQMHicOZXokJA","srid":null}|{"x":37.2683075,"y":55.885605068846,"wkb":"AQEAAADB4nDmV6JCQMXuw4Fb8UtA","srid":null}     |
|{"wkb":"AQEAAAB2nDyqLLhMQHPXEvJBKERA","srid":null}|{"x":40.3145125,"y":57.438863067241,"wkb":"AQEAAABz1xLyQShEQHacPKosuExA","srid":null}     |
|{"wkb":"AQEAAABs4mmKdipHQFtAaD18AkhA","srid":null}|{"x":48.0194165,"y":46.331742574407,"wkb":"AQEAAABbQGg9fAJIQGziaYp2KkdA","srid":null}     |
|{"wkb":"AQEAAACs3oa99RZLQECdCfJYx0JA","srid":null}|{"x":37.55740190000006,"y":54.1793744,"wkb":"AQEAAABAnQnyWMdCQKzehr31FktA","srid":null}   |
|{"wkb":"AQEAAACfeUoYF1xMQKyGDsuwaENA","srid":null}|{"x":38.8178953,"y":56.71945479999999,"wkb":"AQEAAACshg7LsGhDQJ95ShgXXExA","srid":null}   |
|{"wkb":"AQEAAAD55wD+9A1MQJp5ck2BL0RA","srid":null}|{"x":40.3711335,"y":56.109039068644,"wkb":"AQEAAACaeXJNgS9EQPnnAP70DUxA","srid":null}     |
|{"wkb":"AQEAAAAduUhjuFtLQMKiIk4nAExA","srid":null}|{"x":56.0011995,"y":54.716564569959,"wkb":"AQEAAADCoiJOJwBMQB25SGO4W0tA","srid":null}     |
|{"wkb":"AQEAAAAW4rJ232NLQBVwz/OnBEBA","srid":null}|{"x":32.0363755,"y":54.780257069917,"wkb":"AQEAAAAVcM/zpwRAQBbisnbfY0tA","srid":null}     |
|{"wkb":"AQEAAADcfAUCaNRLQGRbBpylyEJA","srid":null}|{"x":37.567554,"y":55.659424069099,"wkb":"AQEAAABkWwacpchCQNx8BQJo1EtA","srid":null}      |
|{"wkb":"AQEAAABBj69UG2JLQNtN8E3TCEBA","srid":null}|{"x":32.0689485,"y":54.766459069941,"wkb":"AQEAAADbTfBN0whAQEGPr1QbYktA","srid":null}     |
|{"wkb":"AQEAAACnL5WygjlIQGssYW1M42BA","srid":null}|{"x":135.1030795,"y":48.44930107388,"wkb":"AQEAAABrLGFtTONgQKcvlbKCOUhA","srid":null}     |
|{"wkb":"AQEAAABsiTS7ZC1HQA1RhT/DCUhA","srid":null}|{"x":48.076271,"y":46.354636574414,"wkb":"AQEAAAANUYU/wwlIQGyJNLtkLUdA","srid":null}      |
|{"wkb":"AQEAAADiN+Zi195LQFlRg2kYtkJA","srid":null}|{"x":37.42262,"y":55.740948069011,"wkb":"AQEAAABZUYNpGLZCQOI35mLX3ktA","srid":null}       |
|{"wkb":"AQEAAACL0iI9x4BLQFZLVtPIV1JA","srid":null}|{"x":73.371632417938,"y":55.006080286029,"wkb":"AQEAAABWS1bTyFdSQIvSIj3HgEtA","srid":null}|
|{"wkb":"AQEAAAB/LhoyHhtKQKsGYW73BVpA","srid":null}|{"x":104.093227,"y":52.211859,"wkb":"AQEAAACrBmFu9wVaQH8uGjIeG0pA","srid":null}           |
|{"wkb":"AQEAAABFMgorNDxIQGZpJpLb4WBA","srid":null}|{"x":135.05805308821,"y":48.47034204481,"wkb":"AQEAAABmaSaS2+FgQEUyCis0PEhA","srid":null} |
|{"wkb":"AQEAAACnEQoa/t9LQFJgAUwZ70JA","srid":null}|{"x":37.8679595,"y":55.749942068974,"wkb":"AQEAAABSYAFMGe9CQKcRChr+30tA","srid":null}     |
|{"wkb":"AQEAAACmCnf1oLRHQFlsk4rG2WFA","srid":null}|{"x":142.805486,"y":47.411162074209,"wkb":"AQEAAABZbJOKxtlhQKYKd/WgtEdA","srid":null}     |
|{"wkb":"AQEAAADU632hHiNQQF3fh4OESERA","srid":null}|{"x":40.566544,"y":64.548744557352,"wkb":"AQEAAABd34eDhEhEQNTrfaEeI1BA","srid":null}      |
+--------------------------------------------------+------------------------------------------------------------------------------------------+
only showing top 20 rows

+---------------+--------+
|price_per_meter|quantity|
+---------------+--------+
|9999999999999  |1       |
|99999997952    |1       |
|99900          |105     |
|999            |1       |
|99800          |124     |
|998            |2       |
|99700          |143     |
|997            |1       |
|99600          |93      |
|99500          |125     |
|995            |1       |
|99400          |125     |
|994            |1       |
|99300          |112     |
|99200          |97      |
|992            |2       |
|99100          |129     |
|99000          |167     |
|9900           |21      |
|990            |1       |
+---------------+--------+
only showing top 20 rows

+-----+
|rooms|
+-----+
|255  |
|229  |
|220  |
|210  |
|190  |
|168  |
|167  |
|150  |
|140  |
|138  |
|123  |
|114  |
|113  |
|112  |
|111  |
|110  |
|109  |
|100  |
|93   |
|92   |
+-----+
only showing top 20 rows

+----------------------------------------------------+
|video_url                                           |
+----------------------------------------------------+
|https://youtube.com/shorts/vdsGMKu4l8o?feature=share|
|https://youtube.com/shorts/p4Qibe7-BOg?feature=share|
|https://youtube.com/shorts/PtsQo_FyWhg?feature=share|
|https://youtube.com/shorts/OvQAMsaOT0o?feature=share|
|https://youtu.be/ytKehpNM8z0                        |
|https://youtu.be/yBSDRT6Q3U8                        |
|https://youtu.be/xzp3qVHlv5o                        |
|https://youtu.be/xyadFoemLUc                        |
|https://youtu.be/xkZM3EvimbM                        |
|https://youtu.be/xVk1phxU8Qg                        |
|https://youtu.be/xKQ_9o_mlHE                        |
|https://youtu.be/x1cVGY4sn1A                        |
|https://youtu.be/wWkKVuWPAgo                        |
|https://youtu.be/wWVrgKxjmFs                        |
|https://youtu.be/wSOlOWqSzmo                        |
|https://youtu.be/w0zeZvp6Z0U                        |
|https://youtu.be/vyq9_Nj5WnE                        |
|https://youtu.be/vuMzj0CX0sQ                        |
|https://youtu.be/veQ9adSXjz8                        |
|https://youtu.be/vdCtWEMrEss                        |
+----------------------------------------------------+
only showing top 20 rows

+---------+
|filial_id|
+---------+
|256      |
|249      |
|248      |
|247      |
|246      |
|245      |
|242      |
|241      |
|240      |
|239      |
|238      |
|235      |
|234      |
|233      |
|232      |
|231      |
|230      |
|229      |
|226      |
|225      |
+---------+
only showing top 20 rows

+----------+
|house     |
+----------+
|участок 5 |
|участок   |
|уч83      |
|уч8       |
|уч41      |
|уч323     |
|уч3       |
|уч25А     |
|уч17      |
|уч15      |
|уч114     |
|уч11      |
|уч1       |
|строение 3|
|стр. 4    |
|стр. 2    |
|стр. 1    |
|стр 5     |
|стр 1     |
|соор2     |
+----------+
only showing top 20 rows

+------------+
|apartment   |
+------------+
|№515        |
|ыв          |
|частный дом |
|цй          |
|ххх         |
|хх          |
|хз          |
|х           |
|уточнить    |
|студия      |
|сек3кв61    |
|с           |
|прямо       |
|помещение 5 |
|помещение 14|
|пом.316-319 |
|пом.24      |
|п2          |
|п           |
|офис 5      |
+------------+
only showing top 20 rows

+----------------------------+
|cad_number_land             |
+----------------------------+
|Санаторий Алкино, Лесная 3/1|
|96                          |
|9200                        |
|91:04:043001:997            |
|91:04:004001:1024           |
|91:04:003021:207            |
|91:04:002014:1174           |
|91:04:002007:98             |
|91:04:001024:433            |
|91:04:001024:1036           |
|91:04:001004:600            |
|91:03:002020:1298           |
|91:03:002017:411            |
|91:03:002013:306            |
|91:03:001017:1146           |
|91:02:006030:308            |
|91:02:006018:996            |
|91:02:006018:944            |
|91:02:006005:867            |
|91:02:003012:2              |
+----------------------------+
only showing top 20 rows

+----------+
|company_id|
+----------+
|2         |
|1         |
+----------+

+------------+
|market_price|
+------------+
|null        |
|0           |
|8           |
|15          |
|20          |
|67          |
|107         |
|900         |
|1000        |
|1670        |
|1900        |
|2200        |
|2600        |
|3200        |
|3400        |
|3800        |
|4000        |
|4400        |
|5000        |
|5431        |
+------------+
only showing top 20 rows

+------------------------------+
|pdf_link_hash                 |
+------------------------------+
|                              |
|-12ta9JUKvgRGyK9ZkJFp4USFpIbQj|
|-5MbDjl1qa5pmIiYtawanmbnJjmsI-|
|-BOxgDOXBRN57I4eiZEa5LzJXcrSzp|
|-DLPJfkUE1lSCT4DR7Cn7uTIdykHus|
|-IjV3ViOBniPetp4Q4lBQPjVOsy0tI|
|-IvSsKGZhbWeb1UuRypRO1LRbtV9yz|
|-LC3fKVono2LfGbtUr_Leuj_vpMh6_|
|-LfOko_FxlgraQvKHx9P8Qdy5nn7BJ|
|-OdkoxxsACkRPmRE6V_Jc7M6r7zzEK|
|-RlcSRQ1dNxuzIZ-Wul7ptxbqvSyAe|
|-UHY8DbAPScOt6q-T0HTV4zFrQ5YGQ|
|-UmyBxsYpWUFFeE2clqzZU7fhQg30X|
|-VktMCytDgzspiJ-Y_Apib2E89DadH|
|-Y58ckblWvZh1ITrStggUd66BTICiu|
|-iNNs3qbZ6iVDIpTk3kil94mRen22-|
|-lBcrhstaASYGYveb7FKHZ1akb7Yd0|
|-lwRZLvedh1N84ndBmVtP2nL1J-2Mp|
|-mKrWR7u26Q4nfRQat0-wwwAa3Pn7U|
|-n_2Mt01NVU-LnzCzVQj0UzCfGp5T0|
+------------------------------+
only showing top 20 rows

+--------------------------------------------------------------------------------------------------------------------+
|address_view                                                                                                        |
+--------------------------------------------------------------------------------------------------------------------+
|null                                                                                                                |
|                                                                                                                    |
|\n                    Анапа Анапа ул Омелькова 93 1\n                                                               |
|\n                    Анапа Краснодарский край Анапа Супсехское шоссе 35\n                                          |
|\n                    Анапа Супсехское ш  д  35 б с 16\n                                                            |
|\n                    Анапа г Анапа ул Омелькова 93 2\n                                                             |
|\n                    Анапа с  Сукко ул  Мирная д  9 лит  4\n                                                       |
|\n                    Анапа ул  Адмирала Пустошкина  д  22 стр  10\n                                                |
|\n                    Анапа ул  Адмирала Пустошкина  д  22 стр  9\n                                                 |
|\n                    Анапа ул  Адмирала Пустошкина д  14\n                                                         |
|\n                    Анапа ул  Адмирала Пустошкина д  16\n                                                         |
|\n                    Анапа ул  Крестьянская д  27\n                                                                |
|\n                    Анапа ул  Ленина Адмирала Пустошкина д  190 12\n                                              |
|\n                    Анапа ул  Ленина д  241 корп  1\n                                                             |
|\n                    Анапа ул  Шевченко д  3\n                                                                     |
|\n                    Краснодарский край Темрюк Дальняя улица\n                                                     |
|\n                    Ялта Россия Республика Крым Ялта улица Игнатенко 9\n                                          |
|\n                    Ялта Россия Республика Крым п  г  т  Форос Форосский спуск 8 3\n                              |
|\n                    Ялта Симферополь Киевский район микрорайон Крымская Роза жилой комплекс Виноград\n            |
|\n                    Ялта Ялта жилой комплекс Ялта Парк\n                                                          |
+--------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

+---------+
|area     |
+---------+
|999999.99|
|9998.0   |
|999.0    |
|998.0    |
|997.0    |
|99613.0  |
|996.0    |
|9950.0   |
|995.0    |
|994.0    |
|9929.0   |
|992.4    |
|992.0    |
|990000.0 |
|990.9    |
|990.7    |
|990.0    |
|99.97    |
|99.93    |
|99.9     |
+---------+
only showing top 20 rows

+-----------+
|agent_bonus|
+-----------+
|null       |
|0.0        |
|0.01       |
|0.03       |
|0.47       |
|0.5        |
|0.7        |
|1.0        |
|1.11       |
|1.25       |
|1.5        |
|1.76       |
|1.81       |
|1.88       |
|1.96       |
|10.0       |
|15.0       |
|16.0       |
|2.0        |
|2.01       |
+-----------+
only showing top 20 rows

## Bonus

### 2nd solution (Cycle and variables)
#### Slower but more simple and has more readability than the previous method

### Create the list of variables to re-use if needed

In [ ]:
useless_columns = []
null_values = []
zero_values = []
empty_string = []
col_name = []

In [ ]:
for col in eda_df.columns:
    null = round((eda_df.filter(eda_df[col].isNull()).count()/eda_df.count())*100, 3)
    zero = round(eda_df.filter(eda_df[col]==0).count()/eda_df.count()*100, 3)
    empty = round(eda_df.filter(eda_df[col]=='').count()/eda_df.count()*100, 3)
    if null in [0, 100] and zero in [0, 100] and empty in [0, 100]:
        useless_columns.append(col)
        continue
    null_values.append(null)
    zero_values.append(zero)
    empty_string.append(empty)
    col_name.append(col)

In [ ]:
zipped = list(zip(null_values, zero_values, empty_string))
eda_df_pandas2 = pd.DataFrame(zipped, index=col_name, columns=['NULL', 'Zero', 'Empty'])
eda_df_pandas2

### Remove useless columns

In [ ]:
eda_df = eda_df.drop(*useless_columns)

In [ ]:
pd.DataFrame(eda_df.dtypes, columns = ['Column Name','Data type'])

In [142]:
spark.stop()

I1110 07:32:53.662405 29725 sched.cpp:2174] Asked to stop the driver
I1110 07:32:53.662559 30188 sched.cpp:1207] Stopping framework 89161c75-8817-4ae4-ab24-cba26241d6f9-56916