# Tech Intro

## Main tables

In [597]:
# Real Estate's objects
real_estate_list: list = [
    'ag_object',
    'ag_parse_ad',
    'ag_lead_object',
    'ag_presentation_object',
    'ag_object_platform',
    'ag_posting_ad_realty',
    'native_realty_filial',
    'foreign_realty_filial',
    'spr_metro',
    'spr_metro_connection',
    'ag_object_parking']
# Lead's objects
lead_list: list = [
    'leads',
    'lead_utm',
    'client_wishes',
    'leads_email_order',
    'request_from_site',
    'lead_finance',
    'leads_source_spr',
    'leads_calls_connection',
    'leads_pipeline',
    'leads_not_implemented_reason',
    'leads_status',
    'ag_pipeline',
    'ag_pipeline_status',
    'leads_meta',
    'leads_meta_fields',
    'leads_meta_group',
    'leads_contacts_connect',
    'leads_contact',
    'leads_contact_meta',
    'leads_contact_meta_fields']
# Deal's objects
deal_list: list = [
    # Deal
    'a_deal',
    'a_deal_meta',
    'deal_passport',
    'a_deal_finance',
    'a_deal_check',
    'a_deal_test',
    # Contractor
    'a_contractor',
    'a_contractor_meta',
    'a_deal_contractor',
    'a_deal_contractor_meta',
    # Object
    'a_object',
    'a_object_meta',
    'a_deal_object']

## Main Variables

In [598]:
# Address and name of your notebook
venv_path = "/home/bigdata/a.umarov/jupyter_P24"
# Exploratory Data Analysis(EDA) table (eda_table)
eda_table = deal_list[0] # You can generate full-EDA cycle if you want through the all of tables
                                # Just iterate it !
# Exploratory Data Analysis(EDA) obj as PySpark DataFrame
eda_df = None
# Set the date of checking
sample_data_date = '20221027'

## Useful command and modules (can be transform into the 'importlib'- smart import logic)

In [599]:
import os
import pandas as pd
# To data analyze need the module
import pyspark.pandas as ps
os.environ["PYSPARK_PYTHON"] = f"{venv_path}/bin/python3"
os.environ["PYSPARK_DRIVER_PYTHON"] = f"{venv_path}/bin/python3"

import findspark
findspark.init("/opt/dev/spark/spark")
 
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession, SQLContext, DataFrameNaFunctions, \
                        Window, DataFrame, DataFrameStatFunctions, \
                        Column, Row, GroupedData, functions, types
from pyspark.sql.functions import isnan, when, count, col


conf = SparkConf().setAppName("get_info_from_" + eda_table + "_table")
sc = SparkContext(conf=conf)
sc.setLogLevel("ERROR")
spark = SparkSession(sc)

W1120 00:43:58.758584 10390 process.cpp:2877] Attempted to spawn already running process version@10.62.4.11:44708
I1120 00:43:58.759461 44788 sched.cpp:241] Version: 1.11.0
I1120 00:43:58.759711 10542 sched.cpp:345] New master detected at master@10.62.4.8:5050
I1120 00:43:58.759789 10542 sched.cpp:365] No credentials provided. Attempting to register without authentication
I1120 00:43:58.761188 10557 sched.cpp:753] Framework registered with 89161c75-8817-4ae4-ab24-cba26241d6f9-75605

## Read the spec-file from Hadoop and show some data sample

In [600]:
eda_df = spark.read.parquet("/prod/source/p24/" + eda_table + "/datekey=" + sample_data_date)
eda_df.show(10, False)

+-------+------+----+----------------------+--------+----------+-------+----+---------+-------+-------+----------+----------+---------+---------+--------+---------+----------+-----------+----+-------+
|user_id|id    |type|object_type           |reg     |updated   |deleted|arch|arch_year|jurist |rieltor|start_deal|end_deal  |documents|parent_id|leads_id|filial_id|roistat_id|status     |uss |uss_ruk|
+-------+------+----+----------------------+--------+----------+-------+----+---------+-------+-------+----------+----------+---------+---------+--------+---------+----------+-----------+----+-------+
|12942  |100002|5   |Вторичная недвижимость|42333455|1580993679|0      |859 |20       |null   |3359901|1580947200|null      |null     |null     |null    |1        |null      |Действующий|null|null   |
|206    |10001 |6   |null                  |13312138|1526369586|0      |3708|18       |206    |290    |1526369586|null      |null     |null     |null    |1        |null      |Действующий|null|null   |
|3788395|100028|5   |Вторичная недвижимость|60807646|1581001863|0      |79  |20       |null   |3788597|1580947200|1585056286|null     |99172    |null    |2        |null      |Завершенный|null|null   |
|3788395|100066|5   |Вторичная недвижимость|7114862 |1581058376|0      |80  |20       |null   |3788585|1581033600|null      |null     |null     |null    |2        |null      |Действующий|null|null   |
|53     |100077|6   |Иное                  |29746215|1581060237|0      |0   |0        |null   |369    |1581033600|null      |null     |null     |null    |1        |null      |Черновик   |null|null   |
|57     |100085|8   |Вторичная недвижимость|32109126|1581062985|0      |0   |0        |null   |326    |1581033600|null      |null     |null     |null    |1        |null      |Черновик   |null|null   |
|11586  |100117|5   |Вторичная недвижимость|93475839|1581076611|0      |12  |21       |3788584|12070  |1581033600|1610795442|null     |null     |null    |37       |null      |Завершенный|null|null   |
|12289  |100124|5   |Вторичная недвижимость|75004914|1581078166|0      |101 |20       |12289  |3788355|1581033600|1608729313|null     |null     |null    |28       |null      |Завершенный|null|null   |
|12942  |100137|5   |Вторичная недвижимость|90124302|1581081915|0      |906 |20       |3788864|3788540|1581033600|1591184897|null     |null     |null    |1        |null      |Завершенный|628 |null   |
|12072  |100144|5   |Вторичная недвижимость|8326793 |1581083302|0      |0   |0        |12072  |11873  |1581033600|null      |null     |null     |null    |39       |null      |Отменен    |null|null   |
+-------+------+----+----------------------+--------+----------+-------+----+---------+-------+-------+----------+----------+---------+---------+--------+---------+----------+-----------+----+-------+
only showing top 10 rows

## Show columns' properties

In [601]:
print('Data overview')
eda_df.printSchema()

Data overview
root
 |-- user_id: string (nullable = true)
 |-- id: string (nullable = true)
 |-- type: string (nullable = true)
 |-- object_type: string (nullable = true)
 |-- reg: string (nullable = true)
 |-- updated: string (nullable = true)
 |-- deleted: string (nullable = true)
 |-- arch: string (nullable = true)
 |-- arch_year: string (nullable = true)
 |-- jurist: string (nullable = true)
 |-- rieltor: string (nullable = true)
 |-- start_deal: string (nullable = true)
 |-- end_deal: string (nullable = true)
 |-- documents: string (nullable = true)
 |-- parent_id: string (nullable = true)
 |-- leads_id: string (nullable = true)
 |-- filial_id: string (nullable = true)
 |-- roistat_id: string (nullable = true)
 |-- status: string (nullable = true)
 |-- uss: string (nullable = true)
 |-- uss_ruk: string (nullable = true)

## Total rows (count)

In [602]:
eda_df.count()

196714

## Simple func to execute and show the result of the SQL-instruction

In [603]:
def execute(select_instruction: str = "select count(*) from eda_sql") -> object:
    """
    Method to execute and show the result of your SQL-instruction
    :default -> "select count(*) from eda_sql"
    :param :string select_instruction: SQL statement
    :return: result of the SQL-operation as a table
    """
    return spark.sql(select_instruction).show(truncate = False)

## Create the temp-table-view from the DF (called as "eda_sql")

In [604]:
eda_df.createOrReplaceTempView("eda_sql")

## Check the method and temp-table

In [605]:
execute("select count(*) from eda_sql")

+--------+
|count(1)|
+--------+
|196714  |
+--------+

## Detect missing values and abnormal zeroes and print it

###### Check-rule Matrix


|  Name of the rule    |Available                   
|----------------------|-------------------------|
|NULL/NaN/NA           |+                        |
|'Zero'-value          |+                        |
|'Empty-string'        |+                        |

### 1st solution (PySpark & Pandas version)
#### Max perfomance but harder to read & understand

##### Filter and count after - all the values in the  our EDA-DF

In [606]:
# NULL/NaN/NA values condition
eda_df_null_values = eda_df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) \
                                    for c in eda_df.columns]).toPandas()
eda_df_null_values

,user_id,id,type,object_type,reg,updated,deleted,arch,arch_year,jurist,...,start_deal,end_deal,documents,parent_id,leads_id,filial_id,roistat_id,status,uss,uss_ruk
0,0,0,15833,38800,1200,6088,0,0,0,50477,...,6092,136906,190762,195225,195172,5928,196714,6473,182934,196439

In [607]:
# Zero values condition
eda_df_zero_values = eda_df.select([count(when(col(c) == 0, c)).alias(c) \
                                    for c in eda_df.columns]).toPandas()
eda_df_zero_values

,user_id,id,type,object_type,reg,updated,deleted,arch,arch_year,jurist,...,start_deal,end_deal,documents,parent_id,leads_id,filial_id,roistat_id,status,uss,uss_ruk
0,1200,0,0,0,0,0,188198,43251,43251,0,...,0,0,0,0,0,0,0,0,0,0

In [608]:
# Empty-string values condition
eda_df_empty_values = eda_df.select([count(when(col(c) == '', c)).alias(c) \
                                     for c in eda_df.columns]).toPandas()
eda_df_empty_values

,user_id,id,type,object_type,reg,updated,deleted,arch,arch_year,jurist,...,start_deal,end_deal,documents,parent_id,leads_id,filial_id,roistat_id,status,uss,uss_ruk
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2327,0,0

In [609]:
# Unlock the limit to display all the columns
pd.options.display.max_rows = None
# To transpose a dataframe - use .T method
eda_df_pandas = pd.concat([eda_df_null_values, eda_df_zero_values, eda_df_empty_values], axis = 'index').T
# To rename columns to anything else after the transpose
eda_df_pandas.columns = (['NULL','Zero','Empty_string'])
eda_df_pandas

               NULL    Zero  Empty_string
user_id           0    1200             0
id                0       0             0
type          15833       0             0
object_type   38800       0             0
reg            1200       0             0
updated        6088       0             0
deleted           0  188198             0
arch              0   43251             0
arch_year         0   43251             0
jurist        50477       0             0
rieltor       17038       0             0
start_deal     6092       0             0
end_deal     136906       0             0
documents    190762       0             0
parent_id    195225       0             0
leads_id     195172       0             0
filial_id      5928       0             0
roistat_id   196714       0             0
status         6473       0          2327
uss          182934       0             0
uss_ruk      196439       0             0

In [610]:
def set_result_to_percent(df: object = None) -> object:
    """
    Method to execute and show the result of your PandasDataFrame
    :default -> None-object
    :param :Pandas DF
    :return: DF after the conversion (absolute -> percent)
    """
    if df is None:
        return "Please incl. at least one Pandas DF as a parameter"
    return round(df * 100 / eda_df.count(), 3)

In [611]:
set_result_to_percent(eda_df_pandas)

                NULL    Zero  Empty_string
user_id        0.000   0.610         0.000
id             0.000   0.000         0.000
type           8.049   0.000         0.000
object_type   19.724   0.000         0.000
reg            0.610   0.000         0.000
updated        3.095   0.000         0.000
deleted        0.000  95.671         0.000
arch           0.000  21.987         0.000
arch_year      0.000  21.987         0.000
jurist        25.660   0.000         0.000
rieltor        8.661   0.000         0.000
start_deal     3.097   0.000         0.000
end_deal      69.596   0.000         0.000
documents     96.974   0.000         0.000
parent_id     99.243   0.000         0.000
leads_id      99.216   0.000         0.000
filial_id      3.014   0.000         0.000
roistat_id   100.000   0.000         0.000
status         3.291   0.000         1.183
uss           92.995   0.000         0.000
uss_ruk       99.860   0.000         0.000

### SQL-instructions

In [612]:
#Find dupes or misunderstanding or useless static values 196 714 total
for col in eda_df.columns:
    execute("select count(distinct("+ col + ")) from eda_sql")

+-----------------------+
|count(DISTINCT user_id)|
+-----------------------+
|936                    |
+-----------------------+

+------------------+
|count(DISTINCT id)|
+------------------+
|196714            |
+------------------+

+--------------------+
|count(DISTINCT type)|
+--------------------+
|6                   |
+--------------------+

+---------------------------+
|count(DISTINCT object_type)|
+---------------------------+
|5                          |
+---------------------------+

+-------------------+
|count(DISTINCT reg)|
+-------------------+
|195448             |
+-------------------+

+-----------------------+
|count(DISTINCT updated)|
+-----------------------+
|190225                 |
+-----------------------+

+-----------------------+
|count(DISTINCT deleted)|
+-----------------------+
|2                      |
+-----------------------+

+--------------------+
|count(DISTINCT arch)|
+--------------------+
|11816               |
+--------------------+

+-------------------------+
|count(DISTINCT arch_year)|
+-------------------------+
|7                        |
+-------------------------+

+----------------------+
|count(DISTINCT jurist)|
+----------------------+
|626                   |
+----------------------+

+-----------------------+
|count(DISTINCT rieltor)|
+-----------------------+
|11051                  |
+-----------------------+

+--------------------------+
|count(DISTINCT start_deal)|
+--------------------------+
|9222                      |
+--------------------------+

+------------------------+
|count(DISTINCT end_deal)|
+------------------------+
|57820                   |
+------------------------+

+-------------------------+
|count(DISTINCT documents)|
+-------------------------+
|16                       |
+-------------------------+

+-------------------------+
|count(DISTINCT parent_id)|
+-------------------------+
|1479                     |
+-------------------------+

+------------------------+
|count(DISTINCT leads_id)|
+------------------------+
|1309                    |
+------------------------+

+-------------------------+
|count(DISTINCT filial_id)|
+-------------------------+
|180                      |
+-------------------------+

+--------------------------+
|count(DISTINCT roistat_id)|
+--------------------------+
|0                         |
+--------------------------+

+----------------------+
|count(DISTINCT status)|
+----------------------+
|11                    |
+----------------------+

+-------------------+
|count(DISTINCT uss)|
+-------------------+
|109                |
+-------------------+

+-----------------------+
|count(DISTINCT uss_ruk)|
+-----------------------+
|6                      |
+-----------------------+

In [613]:
def execute_template(column: str ='id') -> object:
    """
    Method to execute and show the result of your SQL-instruction
    :default -> "ID incl."
    :param :string select_instruction: column name
    :return: result of the SQL-operation as a table
    """
    print(execute("SELECT DISTINCT(" + column + ")\
                FROM eda_sql\
                WHERE 1 = 1 \
                ORDER BY " + column + " DESC"))
    return execute("SELECT DISTINCT(" + column + ")\
                    FROM eda_sql\
                    WHERE 1 = 1 \
                    ORDER BY " + column + " ASC")

In [614]:
#Find dupes or misunderstanding or useless static values 196 714 total
for col in eda_df.columns:
    execute_template(col)

+-------+
|user_id|
+-------+
|9679   |
|9677   |
|9672   |
|9626   |
|9625   |
|9621   |
|9582   |
|9581   |
|9579   |
|908    |
|903    |
|898    |
|897    |
|895    |
|872    |
|871    |
|870    |
|863    |
|8480   |
|8473   |
+-------+
only showing top 20 rows

None
+-------+
|user_id|
+-------+
|0      |
|10188  |
|10190  |
|10225  |
|10739  |
|11258  |
|11260  |
|11312  |
|11350  |
|11390  |
|11397  |
|11401  |
|11403  |
|11404  |
|11470  |
|11487  |
|11497  |
|11499  |
|11500  |
|11505  |
+-------+
only showing top 20 rows

+-----+
|id   |
+-----+
|99999|
|99998|
|99997|
|99996|
|99995|
|99994|
|99993|
|99992|
|99991|
|99990|
|9999 |
|99989|
|99988|
|99987|
|99986|
|99985|
|99984|
|99983|
|99982|
|99981|
+-----+
only showing top 20 rows

None
+------+
|id    |
+------+
|100   |
|1000  |
|10000 |
|100000|
|100001|
|100002|
|100003|
|100004|
|100005|
|100006|
|100007|
|100008|
|100009|
|10001 |
|100010|
|100011|
|100012|
|100013|
|100014|
|100015|
+------+
only showing top 20 rows

+----+
|type|
+----+
|9   |
|8   |
|6   |
|5   |
|12  |
|10  |
|null|
+----+

None
+----+
|type|
+----+
|null|
|10  |
|12  |
|5   |
|6   |
|8   |
|9   |
+----+

+-------------------------+
|object_type              |
+-------------------------+
|Первичная недвижимость   |
|Коммерческая недвижимость|
|Иное                     |
|Загородная недвижимость  |
|Вторичная недвижимость   |
|null                     |
+-------------------------+

None
+-------------------------+
|object_type              |
+-------------------------+
|null                     |
|Вторичная недвижимость   |
|Загородная недвижимость  |
|Иное                     |
|Коммерческая недвижимость|
|Первичная недвижимость   |
+-------------------------+

+----------+
|reg       |
+----------+
|б/н       |
|oferta9997|
|oferta9996|
|oferta9995|
|oferta9994|
|oferta9993|
|oferta9990|
|oferta9989|
|oferta9987|
|oferta9985|
|oferta9984|
|oferta9981|
|oferta9975|
|oferta9972|
|oferta9971|
|oferta9969|
|oferta9967|
|oferta9966|
|oferta9965|
|oferta9963|
+----------+
only showing top 20 rows

None
+----------+
|reg       |
+----------+
|null      |
|\t69475752|
|01        |
|1         |
|100       |
|10000030  |
|10000390  |
|10000448  |
|10000572  |
|10000653  |
|1000097   |
|10001298  |
|10001747  |
|10003066  |
|10003574  |
|10003603  |
|10003864  |
|10003934  |
|10004071  |
|10004603  |
+----------+
only showing top 20 rows

+----------+
|updated   |
+----------+
|1666830341|
|1666796669|
|1666796179|
|1666795222|
|1666794865|
|1666794700|
|1666794490|
|1666794084|
|1666793920|
|1666793760|
|1666793728|
|1666793629|
|1666792375|
|1666792004|
|1666791535|
|1666791298|
|1666791213|
|1666790943|
|1666790830|
|1666790750|
+----------+
only showing top 20 rows

None
+----------+
|updated   |
+----------+
|null      |
|1486383076|
|1486448638|
|1486645244|
|1486971724|
|1486981866|
|1486982752|
|1486990027|
|1486991696|
|1487047305|
|1487047661|
|1487049506|
|1487053047|
|1487053226|
|1487054932|
|1487055419|
|1487057212|
|1487058498|
|1487061898|
|1487066551|
+----------+
only showing top 20 rows

+-------+
|deleted|
+-------+
|1      |
|0      |
+-------+

None
+-------+
|deleted|
+-------+
|0      |
|1      |
+-------+

+----+
|arch|
+----+
|9999|
|9998|
|9997|
|9996|
|9995|
|9994|
|9993|
|9992|
|9991|
|9990|
|999 |
|9989|
|9988|
|9987|
|9986|
|9985|
|9984|
|9983|
|9982|
|9981|
+----+
only showing top 20 rows

None
+-----+
|arch |
+-----+
|0    |
|1    |
|10   |
|100  |
|1000 |
|10000|
|10001|
|10002|
|10003|
|10004|
|10005|
|10006|
|10007|
|10008|
|10009|
|1001 |
|10010|
|10011|
|10012|
|10013|
+-----+
only showing top 20 rows

+---------+
|arch_year|
+---------+
|22       |
|21       |
|20       |
|19       |
|18       |
|17       |
|0        |
+---------+

None
+---------+
|arch_year|
+---------+
|0        |
|17       |
|18       |
|19       |
|20       |
|21       |
|22       |
+---------+

+------+
|jurist|
+------+
|9679  |
|9676  |
|9672  |
|9626  |
|9625  |
|9621  |
|9582  |
|9581  |
|9579  |
|937   |
|904   |
|898   |
|895   |
|872   |
|871   |
|870   |
|863   |
|8524  |
|8480  |
|8471  |
+------+
only showing top 20 rows

None
+------+
|jurist|
+------+
|null  |
|1     |
|10188 |
|10190 |
|10739 |
|11258 |
|11260 |
|11312 |
|11350 |
|11397 |
|11401 |
|11403 |
|11404 |
|11487 |
|11497 |
|11500 |
|11505 |
|11506 |
|11510 |
|11519 |
+------+
only showing top 20 rows

+-------+
|rieltor|
+-------+
|999    |
|996    |
|995    |
|994    |
|993    |
|991    |
|990    |
|988    |
|986    |
|985    |
|983    |
|981    |
|980    |
|98     |
|979    |
|978    |
|977    |
|976    |
|974    |
|972    |
+-------+
only showing top 20 rows

None
+-------+
|rieltor|
+-------+
|null   |
|100    |
|1001   |
|1003   |
|1004   |
|101    |
|10194  |
|10195  |
|10196  |
|10197  |
|10198  |
|10199  |
|102    |
|10200  |
|10201  |
|10202  |
|10203  |
|10204  |
|10205  |
|10207  |
+-------+
only showing top 20 rows

+----------+
|start_deal|
+----------+
|1666828800|
|1666796669|
|1666790943|
|1666786582|
|1666778126|
|1666766631|
|1666762673|
|1666755773|
|1666742400|
|1666715998|
|1666697502|
|1666692856|
|1666691530|
|1666681780|
|1666681640|
|1666680898|
|1666680050|
|1666656000|
|1666631420|
|1666598324|
+----------+
only showing top 20 rows

None
+----------+
|start_deal|
+----------+
|null      |
|1476403200|
|1480291200|
|1486537800|
|1486627140|
|1486953420|
|1486963800|
|1486964640|
|1486971960|
|1486973580|
|1487029260|
|1487029620|
|1487031240|
|1487034900|
|1487035200|
|1487036880|
|1487037360|
|1487039160|
|1487040420|
|1487043840|
+----------+
only showing top 20 rows

+----------+
|end_deal  |
+----------+
|1666799703|
|1666799664|
|1666799276|
|1666799183|
|1666794742|
|1666793785|
|1666793499|
|1666792624|
|1666791789|
|1666791530|
|1666790926|
|1666790433|
|1666790051|
|1666788977|
|1666788681|
|1666787960|
|1666787672|
|1666787644|
|1666787585|
|1666787504|
+----------+
only showing top 20 rows

None
+----------+
|end_deal  |
+----------+
|null      |
|1501545600|
|1501632000|
|1501718400|
|1501804800|
|1502064000|
|1502150400|
|1502236800|
|1502283319|
|1502323200|
|1502409600|
|1502496000|
|1502668800|
|1502755200|
|1502841600|
|1502928000|
|1503014400|
|1503273600|
|1503360000|
|1503446400|
+----------+
only showing top 20 rows

+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|documents                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|a:7:{i:0;a:1:{s:2:"id";s:1:"4";}i:1;a:1:{s:2:"id";s:1:"5";}i:2;a:1:{s:2:"id";s:1:"6";}i:3;a:1:{s:2:"id";s:1:"7";}i:4;a:2:{s:2:"id";s:2:"11";s:6:"result";s:1:"1";}i:5;a:2:{s:2:"id";s:2:"12";s:6:"result";s:1:"1";}i:6;a:2:{s:2:"id";s:2:"24";s:6:"result";s:1:"1";}}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          |
|a:5:{i:0;a:1:{s:2:"id";s:1:"4";}i:1;a:1:{s:2:"id";s:1:"5";}i:2;a:2:{s:2:"id";s:2:"11";s:6:"result";s:1:"1";}i:3;a:2:{s:2:"id";s:2:"12";s:6:"result";s:1:"0";}i:4;a:2:{s:2:"id";s:2:"24";s:6:"result";s:1:"0";}}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
|a:3:{i:0;a:1:{s:2:"id";s:1:"4";}i:1;a:1:{s:2:"id";s:1:"5";}i:2;a:1:{s:2:"id";s:1:"6";}}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
|a:30:{i:0;a:1:{s:2:"id";s:1:"4";}i:1;a:1:{s:2:"id";s:1:"5";}i:2;a:1:{s:2:"id";s:1:"6";}i:3;a:1:{s:2:"id";s:1:"7";}i:4;a:1:{s:2:"id";s:1:"8";}i:5;a:1:{s:2:"id";s:1:"9";}i:6;a:1:{s:2:"id";s:2:"10";}i:7;a:2:{s:2:"id";s:2:"11";s:6:"result";s:6:"result";}i:8;a:2:{s:2:"id";s:2:"12";s:6:"result";s:0:"";}i:9;a:1:{s:2:"id";s:2:"13";}i:10;a:1:{s:2:"id";s:2:"14";}i:11;a:1:{s:2:"id";s:2:"15";}i:12;a:1:{s:2:"id";s:2:"16";}i:13;a:1:{s:2:"id";s:2:"17";}i:14;a:1:{s:2:"id";s:2:"18";}i:15;a:1:{s:2:"id";s:2:"21";}i:16;a:1:{s:2:"id";s:2:"22";}i:17;a:2:{s:2:"id";s:2:"24";s:6:"result";s:0:"";}i:18;a:1:{s:2:"id";s:2:"25";}i:19;a:1:{s:2:"id";s:2:"33";}i:20;a:1:{s:2:"id";s:2:"34";}i:21;a:1:{s:2:"id";s:2:"35";}i:22;a:1:{s:2:"id";s:2:"36";}i:23;a:1:{s:2:"id";s:2:"37";}i:24;a:1:{s:2:"id";s:2:"38";}i:25;a:1:{s:2:"id";s:2:"39";}i:26;a:1:{s:2:"id";s:2:"40";}i:27;a:1:{s:2:"id";s:2:"41";}i:28;a:1:{s:2:"id";s:2:"42";}i:29;a:1:{s:2:"id";s:2:"43";}}|
|a:30:{i:0;a:1:{s:2:"id";s:1:"4";}i:1;a:1:{s:2:"id";s:1:"5";}i:2;a:1:{s:2:"id";s:1:"6";}i:3;a:1:{s:2:"id";s:1:"7";}i:4;a:1:{s:2:"id";s:1:"8";}i:5;a:1:{s:2:"id";s:1:"9";}i:6;a:1:{s:2:"id";s:2:"10";}i:7;a:2:{s:2:"id";s:2:"11";s:6:"result";i:0;}i:8;a:2:{s:2:"id";s:2:"12";s:6:"result";i:0;}i:9;a:1:{s:2:"id";s:2:"13";}i:10;a:1:{s:2:"id";s:2:"14";}i:11;a:1:{s:2:"id";s:2:"15";}i:12;a:1:{s:2:"id";s:2:"16";}i:13;a:1:{s:2:"id";s:2:"17";}i:14;a:1:{s:2:"id";s:2:"18";}i:15;a:1:{s:2:"id";s:2:"21";}i:16;a:1:{s:2:"id";s:2:"22";}i:17;a:2:{s:2:"id";s:2:"24";s:6:"result";i:0;}i:18;a:1:{s:2:"id";s:2:"25";}i:19;a:1:{s:2:"id";s:2:"33";}i:20;a:1:{s:2:"id";s:2:"34";}i:21;a:1:{s:2:"id";s:2:"35";}i:22;a:1:{s:2:"id";s:2:"36";}i:23;a:1:{s:2:"id";s:2:"37";}i:24;a:1:{s:2:"id";s:2:"38";}i:25;a:1:{s:2:"id";s:2:"39";}i:26;a:1:{s:2:"id";s:2:"40";}i:27;a:1:{s:2:"id";s:2:"41";}i:28;a:1:{s:2:"id";s:2:"42";}i:29;a:1:{s:2:"id";s:2:"43";}}               |
|a:30:{i:0;a:1:{i:0;s:1:"4";}i:1;a:1:{i:0;s:1:"5";}i:2;a:1:{i:0;s:1:"6";}i:3;a:1:{i:0;s:1:"7";}i:4;a:1:{i:0;s:1:"8";}i:5;a:1:{i:0;s:1:"9";}i:6;a:1:{i:0;s:2:"10";}i:7;a:2:{i:0;s:2:"11";s:6:"result";s:6:"result";}i:8;a:2:{i:0;s:2:"12";s:6:"result";s:0:"";}i:9;a:1:{i:0;s:2:"13";}i:10;a:1:{i:0;s:2:"14";}i:11;a:1:{i:0;s:2:"15";}i:12;a:1:{i:0;s:2:"16";}i:13;a:1:{i:0;s:2:"17";}i:14;a:1:{i:0;s:2:"18";}i:15;a:1:{i:0;s:2:"21";}i:16;a:1:{i:0;s:2:"22";}i:17;a:2:{i:0;s:2:"24";s:6:"result";s:0:"";}i:18;a:1:{i:0;s:2:"25";}i:19;a:1:{i:0;s:2:"33";}i:20;a:1:{i:0;s:2:"34";}i:21;a:1:{i:0;s:2:"35";}i:22;a:1:{i:0;s:2:"36";}i:23;a:1:{i:0;s:2:"37";}i:24;a:1:{i:0;s:2:"38";}i:25;a:1:{i:0;s:2:"39";}i:26;a:1:{i:0;s:2:"40";}i:27;a:1:{i:0;s:2:"41";}i:28;a:1:{i:0;s:2:"42";}i:29;a:1:{i:0;s:2:"43";}}                                                                                                                                                      |
|a:2:{i:0;a:1:{s:2:"id";s:1:"5";}i:1;a:1:{s:2:"id";s:1:"6";}}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |
|a:1:{i:0;a:1:{s:2:"id";s:1:"4";}}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |
|a:19:{i:0;s:1:"4";i:1;s:1:"5";i:2;s:1:"6";i:3;s:1:"7";i:4;s:1:"8";i:5;s:1:"9";i:6;s:2:"10";i:7;s:2:"11";i:8;s:2:"12";i:9;s:2:"13";i:10;s:2:"14";i:11;s:2:"15";i:12;s:2:"16";i:13;s:2:"17";i:14;s:2:"18";i:15;s:2:"19";i:16;s:2:"20";i:17;s:2:"21";i:18;s:2:"22";}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |
|a:19:{i:0;a:1:{s:2:"id";s:1:"4";}i:1;a:1:{s:2:"id";s:1:"5";}i:2;a:1:{s:2:"id";s:1:"6";}i:3;a:1:{s:2:"id";s:1:"7";}i:4;a:1:{s:2:"id";s:1:"8";}i:5;a:1:{s:2:"id";s:1:"9";}i:6;a:1:{s:2:"id";s:2:"10";}i:7;a:2:{s:2:"id";s:2:"11";s:6:"result";s:1:"0";}i:8;a:2:{s:2:"id";s:2:"12";s:6:"result";s:1:"1";}i:9;a:1:{s:2:"id";s:2:"13";}i:10;a:1:{s:2:"id";s:2:"14";}i:11;a:1:{s:2:"id";s:2:"15";}i:12;a:1:{s:2:"id";s:2:"16";}i:13;a:1:{s:2:"id";s:2:"17";}i:14;a:1:{s:2:"id";s:2:"18";}i:15;a:1:{s:2:"id";s:2:"19";}i:16;a:1:{s:2:"id";s:2:"20";}i:17;a:1:{s:2:"id";s:2:"21";}i:18;a:1:{s:2:"id";s:2:"22";}}                                                                                                                                                                                                                                                                                                                                                       |
|a:19:{i:0;a:1:{s:2:"id";s:1:"4";}i:1;a:1:{s:2:"id";s:1:"5";}i:2;a:1:{s:2:"id";s:1:"6";}i:3;a:1:{s:2:"id";s:1:"7";}i:4;a:1:{s:2:"id";s:1:"8";}i:5;a:1:{s:2:"id";s:1:"9";}i:6;a:1:{s:2:"id";s:2:"10";}i:7;a:1:{s:2:"id";s:2:"11";}i:8;a:1:{s:2:"id";s:2:"12";}i:9;a:1:{s:2:"id";s:2:"13";}i:10;a:1:{s:2:"id";s:2:"14";}i:11;a:1:{s:2:"id";s:2:"15";}i:12;a:1:{s:2:"id";s:2:"16";}i:13;a:1:{s:2:"id";s:2:"17";}i:14;a:1:{s:2:"id";s:2:"18";}i:15;a:1:{s:2:"id";s:2:"19";}i:16;a:1:{s:2:"id";s:2:"20";}i:17;a:1:{s:2:"id";s:2:"21";}i:18;a:1:{s:2:"id";s:2:"22";}}                                                                                                                                                                                                                                                                                                                                                                                                 |

## Bonus

### 2nd solution (Cycle and variables)
#### Slower but more simple and has more readability than the previous method

### Create the list of variables to re-use if needed

In [ ]:
useless_columns = []
null_values = []
zero_values = []
empty_string = []
col_name = []

In [ ]:
for col in eda_df.columns:
    null = round((eda_df.filter(eda_df[col].isNull()).count()/eda_df.count())*100, 3)
    zero = round(eda_df.filter(eda_df[col]==0).count()/eda_df.count()*100, 3)
    empty = round(eda_df.filter(eda_df[col]=='').count()/eda_df.count()*100, 3)
    if null in [0, 100] and zero in [0, 100] and empty in [0, 100]:
        useless_columns.append(col)
        continue
    null_values.append(null)
    zero_values.append(zero)
    empty_string.append(empty)
    col_name.append(col)

In [ ]:
zipped = list(zip(null_values, zero_values, empty_string))
eda_df_pandas2 = pd.DataFrame(zipped, index=col_name, columns=['NULL', 'Zero', 'Empty'])
eda_df_pandas2

### Remove useless columns

In [ ]:
eda_df = eda_df.drop(*useless_columns)

In [ ]:
pd.DataFrame(eda_df.dtypes, columns = ['Column Name','Data type'])

In [596]:
spark.stop()

I1120 00:43:52.901058 10390 sched.cpp:2174] Asked to stop the driver
I1120 00:43:52.901201 10546 sched.cpp:1207] Stopping framework 89161c75-8817-4ae4-ab24-cba26241d6f9-75604