# Tech Intro

## Main tables

In [789]:
# Real Estate's objects
real_estate_list: list = [
    'ag_object',
    'ag_parse_ad',
    'ag_lead_object',
    'ag_presentation_object',
    'ag_object_platform',
    'ag_posting_ad_realty',
    'native_realty_filial',
    'foreign_realty_filial',
    'spr_metro',
    'spr_metro_connection',
    'ag_object_parking']
# Lead's objects
lead_list: list = [
    'leads',
    'lead_utm',
    'client_wishes',
    'leads_email_order',
    'request_from_site',
    'lead_finance',
    'leads_source_spr',
    'leads_calls_connection',
    'leads_pipeline',
    'leads_not_implemented_reason',
    'leads_status',
    'ag_pipeline',
    'ag_pipeline_status',
    'leads_meta',
    'leads_meta_fields',
    'leads_meta_group',
    'leads_contacts_connect',
    'leads_contact',
    'leads_contact_meta',
    'leads_contact_meta_fields']
# Deal's objects
deal_list: list = [
    # Deal
    'a_deal',
    'a_deal_meta',
    'deal_passport',
    'a_deal_finance',
    'a_deal_check',
    'a_deal_test',
    # Contractor
    'a_contractor',
    'a_contractor_meta',
    'a_deal_contractor',
    'a_deal_contractor_meta',
    # Object
    'a_object',
    'a_object_meta',
    'a_deal_object']

## Main Variables

In [790]:
# Address and name of your notebook
venv_path = "/home/bigdata/a.umarov/jupyter_P24"
# Exploratory Data Analysis(EDA) table (eda_table)
eda_table = deal_list[10] # You can generate full-EDA cycle if you want through the all of tables
                                # Just iterate it !
# Exploratory Data Analysis(EDA) obj as PySpark DataFrame
eda_df = None
# Set the date of checking
sample_data_date = '20221027'

## Useful command and modules (can be transform into the 'importlib'- smart import logic)

In [791]:
import os
import pandas as pd
# To data analyze need the module
import pyspark.pandas as ps
os.environ["PYSPARK_PYTHON"] = f"{venv_path}/bin/python3"
os.environ["PYSPARK_DRIVER_PYTHON"] = f"{venv_path}/bin/python3"

import findspark
findspark.init("/opt/dev/spark/spark")
 
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession, SQLContext, DataFrameNaFunctions, \
                        Window, DataFrame, DataFrameStatFunctions, \
                        Column, Row, GroupedData, functions, types
from pyspark.sql.functions import isnan, when, count, col


conf = SparkConf().setAppName("get_info_from_" + eda_table + "_table")
sc = SparkContext(conf=conf)
sc.setLogLevel("ERROR")
spark = SparkSession(sc)

W1120 02:21:29.993331 10390 process.cpp:2877] Attempted to spawn already running process version@10.62.4.11:44708
I1120 02:21:29.994007 44470 sched.cpp:241] Version: 1.11.0
I1120 02:21:29.994235 10544 sched.cpp:345] New master detected at master@10.62.4.8:5050
I1120 02:21:29.994309 10544 sched.cpp:365] No credentials provided. Attempting to register without authentication
I1120 02:21:29.995682 10542 sched.cpp:753] Framework registered with 89161c75-8817-4ae4-ab24-cba26241d6f9-75625
22/11/20 02:21:30 WARN HttpChannel: /jobs/
java.util.NoSuchElementException: Failed to get the application information. If you are starting up Spark, please wait a while until it's ready.
	at org.apache.spark.status.AppStatusStore.applicationInfo(AppStatusStore.scala:51)
	at org.apache.spark.ui.jobs.AllJobsPage.render(AllJobsPage.scala:276)
	at org.apache.spark.ui.WebUI.$anonfun$attachPage$1(WebUI.scala:90)
	at org.apache.spark.ui.JettyUtils$$anon$1.doGet(JettyUtils.scala:81)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:503)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:590)
	at org.sparkproject.jetty.servlet.ServletHolder.handle(ServletHolder.java:799)
	at org.sparkproject.jetty.servlet.ServletHandler$ChainEnd.doFilter(ServletHandler.java:1626)
	at org.apache.spark.ui.HttpSecurityFilter.doFilter(HttpSecurityFilter.scala:95)
	at org.sparkproject.jetty.servlet.FilterHolder.doFilter(FilterHolder.java:193)
	at org.sparkproject.jetty.servlet.ServletHandler$Chain.doFilter(ServletHandler.java:1601)
	at org.sparkproject.jetty.servlet.ServletHandler.doHandle(ServletHandler.java:548)
	at org.sparkproject.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:233)
	at org.sparkproject.jetty.server.handler.ContextHandler.doHandle(ContextHandler.java:1434)
	at org.sparkproject.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:188)
	at org.sparkproject.jetty.servlet.ServletHandler.doScope(ServletHandler.java:501)
	at org.sparkproject.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:186)
	at org.sparkproject.jetty.server.handler.ContextHandler.doScope(ContextHandler.java:1349)
	at org.sparkproject.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:141)
	at org.sparkproject.jetty.server.handler.gzip.GzipHandler.handle(GzipHandler.java:763)
	at org.sparkproject.jetty.server.handler.ContextHandlerCollection.handle(ContextHandlerCollection.java:234)
	at org.sparkproject.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:127)
	at org.sparkproject.jetty.server.Server.handle(Server.java:516)
	at org.sparkproject.jetty.server.HttpChannel.lambda$handle$1(HttpChannel.java:388)
	at org.sparkproject.jetty.server.HttpChannel.dispatch(HttpChannel.java:633)
	at org.sparkproject.jetty.server.HttpChannel.handle(HttpChannel.java:380)
	at org.sparkproject.jetty.server.HttpConnection.onFillable(HttpConnection.java:277)
	at org.sparkproject.jetty.io.AbstractConnection$ReadCallback.succeeded(AbstractConnection.java:311)
	at org.sparkproject.jetty.io.FillInterest.fillable(FillInterest.java:105)
	at org.sparkproject.jetty.io.ChannelEndPoint$1.run(ChannelEndPoint.java:104)
	at org.sparkproject.jetty.util.thread.strategy.EatWhatYouKill.runTask(EatWhatYouKill.java:338)
	at org.sparkproject.jetty.util.thread.strategy.EatWhatYouKill.doProduce(EatWhatYouKill.java:315)
	at org.sparkproject.jetty.util.thread.strategy.EatWhatYouKill.tryProduce(EatWhatYouKill.java:173)
	at org.sparkproject.jetty.util.thread.strategy.EatWhatYouKill.produce(EatWhatYouKill.java:137)
	at org.sparkproject.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:883)
	at org.sparkproject.jetty.util.thread.QueuedThreadPool$Runner.run(QueuedThreadPool.java:1034)
	at java.lang.Thread.run(Thread.java:748)

## Read the spec-file from Hadoop and show some data sample

In [792]:
eda_df = spark.read.parquet("/prod/source/p24/" + eda_table + "/datekey=" + sample_data_date)
eda_df.show(10, False)

+------+-------------------+----+----+-------+---------+----------+--------------------------------------------------------------------------------------+---+
|id    |cad                |type|deal|deleted|filial_id|black_list|full_address                                                                          |lot|
+------+-------------------+----+----+-------+---------+----------+--------------------------------------------------------------------------------------+---+
|100002|73:24:040303:3462  |0   |0   |0      |28       |0         |Ульяновская, Ульяновск, Архитекторов 9 корп. 2, 4                                     |   |
|10001 |02:55:010601:394   |0   |0   |0      |1        |0         |Башкортостан, Уфа, Достоевского 99, 42                                                |   |
|10002 |02:55:010601:815   |0   |0   |0      |1        |0         |Башкортостан, Уфа, Достоевского 101, 6                                                |   |
|100024|72:24:0304013:5469 |0   |0   |0      |22       |0         |Тюменская, Тобольск, 10 65, 14                                                        |   |
|100028|42:24:0101002:21135|0   |0   |0      |53       |0         |Кемеровская, Кемерово, Ленина д. 14, 4                                                |   |
|10004 |02:55:010817:352   |0   |0   |0      |1        |0         |Башкортостан, Уфа, Кавказкая 8/8, 2                                                   |   |
|100040|72:08:1301002:174  |0   |0   |0      |22       |0         |Тюменская, Старая Заимка, Клубная, 8/1                                                |   |
|100066|                   |0   |0   |0      |43       |0         |Астраханская область , Астрахань, Власова/Ген. Епишева  2/18, пом. 144 , корп. комн. 2|   |
|100077|44:27:020331:228   |0   |0   |0      |62       |0         |Костромская, Кострома, Сплавщиков 3, 2                                                |   |
|100085|                   |0   |0   |0      |43       |0         |Астраханская область , Астрахань, Товарищеская 19А                                    |   |
+------+-------------------+----+----+-------+---------+----------+--------------------------------------------------------------------------------------+---+
only showing top 10 rows

## Show columns' properties

In [793]:
print('Data overview')
eda_df.printSchema()

Data overview
root
 |-- id: string (nullable = true)
 |-- cad: string (nullable = true)
 |-- type: string (nullable = true)
 |-- deal: string (nullable = true)
 |-- deleted: string (nullable = true)
 |-- filial_id: string (nullable = true)
 |-- black_list: string (nullable = true)
 |-- full_address: string (nullable = true)
 |-- lot: string (nullable = true)

## Total rows (count)

In [794]:
eda_df.count()

177439

## Simple func to execute and show the result of the SQL-instruction

In [795]:
def execute(select_instruction: str = "select count(*) from eda_sql") -> object:
    """
    Method to execute and show the result of your SQL-instruction
    :default -> "select count(*) from eda_sql"
    :param :string select_instruction: SQL statement
    :return: result of the SQL-operation as a table
    """
    return spark.sql(select_instruction).show(truncate = False)

## Create the temp-table-view from the DF (called as "eda_sql")

In [796]:
eda_df.createOrReplaceTempView("eda_sql")

## Check the method and temp-table

In [797]:
execute("select count(*) from eda_sql")

+--------+
|count(1)|
+--------+
|177439  |
+--------+

## Detect missing values and abnormal zeroes and print it

###### Check-rule Matrix


|  Name of the rule    |Available                   
|----------------------|-------------------------|
|NULL/NaN/NA           |+                        |
|'Zero'-value          |+                        |
|'Empty-string'        |+                        |

### 1st solution (PySpark & Pandas version)
#### Max perfomance but harder to read & understand

##### Filter and count after - all the values in the  our EDA-DF

In [798]:
# NULL/NaN/NA values condition
eda_df_null_values = eda_df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) \
                                    for c in eda_df.columns]).toPandas()
eda_df_null_values

   id  cad  type  deal  deleted  filial_id  black_list  full_address  lot
0   0    0     0     0        0         55           0          7974    0

In [799]:
# Zero values condition
eda_df_zero_values = eda_df.select([count(when(col(c) == 0, c)).alias(c) \
                                    for c in eda_df.columns]).toPandas()
eda_df_zero_values

   id  cad    type    deal  deleted  filial_id  black_list  full_address  lot
0   0    1  177439  177439   176977          0      177335             0    0

In [800]:
# Empty-string values condition
eda_df_empty_values = eda_df.select([count(when(col(c) == '', c)).alias(c) \
                                     for c in eda_df.columns]).toPandas()
eda_df_empty_values

   id    cad  type  deal  deleted  filial_id  black_list  full_address     lot
0   0  11199     0     0        0          0           0             0  177439

In [801]:
# Unlock the limit to display all the columns
pd.options.display.max_rows = None
# To transpose a dataframe - use .T method
eda_df_pandas = pd.concat([eda_df_null_values, eda_df_zero_values, eda_df_empty_values], axis = 'index').T
# To rename columns to anything else after the transpose
eda_df_pandas.columns = (['NULL','Zero','Empty_string'])
eda_df_pandas

              NULL    Zero  Empty_string
id               0       0             0
cad              0       1         11199
type             0  177439             0
deal             0  177439             0
deleted          0  176977             0
filial_id       55       0             0
black_list       0  177335             0
full_address  7974       0             0
lot              0       0        177439

In [802]:
def set_result_to_percent(df: object = None) -> object:
    """
    Method to execute and show the result of your PandasDataFrame
    :default -> None-object
    :param :Pandas DF
    :return: DF after the conversion (absolute -> percent)
    """
    if df is None:
        return "Please incl. at least one Pandas DF as a parameter"
    return round(df * 100 / eda_df.count(), 3)

In [803]:
set_result_to_percent(eda_df_pandas)

               NULL     Zero  Empty_string
id            0.000    0.000         0.000
cad           0.000    0.001         6.311
type          0.000  100.000         0.000
deal          0.000  100.000         0.000
deleted       0.000   99.740         0.000
filial_id     0.031    0.000         0.000
black_list    0.000   99.941         0.000
full_address  4.494    0.000         0.000
lot           0.000    0.000       100.000

### SQL-instructions

In [804]:
#Find dupes or misunderstanding or useless static values 3 244 006 total
for col in eda_df.columns:
    execute("select count(distinct("+ col + ")) from eda_sql")

+------------------+
|count(DISTINCT id)|
+------------------+
|177439            |
+------------------+

+-------------------+
|count(DISTINCT cad)|
+-------------------+
|148324             |
+-------------------+

+--------------------+
|count(DISTINCT type)|
+--------------------+
|1                   |
+--------------------+

+--------------------+
|count(DISTINCT deal)|
+--------------------+
|1                   |
+--------------------+

+-----------------------+
|count(DISTINCT deleted)|
+-----------------------+
|2                      |
+-----------------------+

+-------------------------+
|count(DISTINCT filial_id)|
+-------------------------+
|177                      |
+-------------------------+

+--------------------------+
|count(DISTINCT black_list)|
+--------------------------+
|2                         |
+--------------------------+

+----------------------------+
|count(DISTINCT full_address)|
+----------------------------+
|132332                      |
+----------------------------+

+-------------------+
|count(DISTINCT lot)|
+-------------------+
|1                  |
+-------------------+

In [805]:
def execute_template(column: str ='id') -> object:
    """
    Method to execute and show the result of your SQL-instruction
    :default -> "ID incl."
    :param :string select_instruction: column name
    :return: result of the SQL-operation as a table
    """
    print(execute("SELECT DISTINCT(" + column + ")\
                FROM eda_sql\
                WHERE 1 = 1 \
                ORDER BY " + column + " DESC"))
    return execute("SELECT DISTINCT(" + column + ")\
                    FROM eda_sql\
                    WHERE 1 = 1 \
                    ORDER BY " + column + " ASC")

In [806]:
#Find dupes or misunderstanding or useless static values 3 244 006 total
for col in eda_df.columns:
    execute_template(col)

+-----+
|id   |
+-----+
|99999|
|99998|
|99997|
|99996|
|99995|
|99994|
|99993|
|99992|
|99991|
|99990|
|9999 |
|99989|
|99988|
|99987|
|99986|
|99985|
|99984|
|99983|
|99982|
|99981|
+-----+
only showing top 20 rows

None
+------+
|id    |
+------+
|100   |
|1000  |
|10000 |
|100000|
|100001|
|100002|
|100003|
|100004|
|100005|
|100006|
|100007|
|100008|
|100009|
|10001 |
|100010|
|100011|
|100012|
|100013|
|100014|
|100015|
+------+
only showing top 20 rows

+----------------------------------------------------------------------------------+
|cad                                                                               |
+----------------------------------------------------------------------------------+
|№87 21кв.м. 8 этаж в комплексе Ручьи 2 очередь корп.2                             |
|№47:14:0312001:184                                                                |
|№ 78:36:0013262:693-78/039/2018-1  от 20.05.2018  (Собственность)                 |
|№ 56:47:0101015:408-56/008/2019-12от 26.11.2019                                   |
|№ 47-47/012-47/012/022/2016-6379/2  от 24.10.2016  (Собственность)                |
|№ 43-43-12/082/2011-290  от 24.03.2011  (Собственность)                           |
|№ 41-41/001-41/002/007/2015-1494/1  от 03.03.2015  (Собственность)                |
|№ 30-30/011-30/001/151/2016-133/2  от 25.08.2016  (Общая совместная собственность)|
|№ 02:57:020917:5-02/114/2019-4  от 20.08.2019                                     |
|№ 02-04-46/010/2013-147  от 20.09.2013  (Собственность)                           |
|юг. спб                                                                           |
|шаблон                                                                            |
|условный номер 50:55:03:00332:001:0062                                            |
|строительство на участке 25:28:050037:1228                                        |
|р44:07:024401:30                                                                  |
|объект незавершенного строительства                                               |
|лоолл                                                                             |
|земельного участка 78:34:0428601:1329                                             |
|земельного участка 50:27:0020412:609                                              |
|з.у. 91:02:004003:71                                                              |
+----------------------------------------------------------------------------------+
only showing top 20 rows

None
+---------------------+
|cad                  |
+---------------------+
|                     |
|\t\t02:35:010104:169 |
|\t\t02:35:010110:189 |
|\t\t02:57:010207:548 |
|\t\t02:60:010301:1698|
|\t\t30:12:041549:138 |
|\t\t43:40:000263:478 |
|\t\t73:24:030204:330 |
|\t02:03:110801:209   |
|\t02:03:110801:305   |
|\t02:03:110801:331   |
|\t02:03:110802:492   |
|\t02:09:090601:153   |
|\t02:16:090401:301   |
|\t02:26:161701:2567  |
|\t02:31:140402:123   |
|\t02:31:140402:196   |
|\t02:34:010601:320   |
|\t02:34:010601:37    |
|\t02:34:100901:428   |
+---------------------+
only showing top 20 rows

+----+
|type|
+----+
|0   |
+----+

None
+----+
|type|
+----+
|0   |
+----+

+----+
|deal|
+----+
|0   |
+----+

None
+----+
|deal|
+----+
|0   |
+----+

+-------+
|deleted|
+-------+
|1      |
|0      |
+-------+

None
+-------+
|deleted|
+-------+
|0      |
|1      |
+-------+

+---------+
|filial_id|
+---------+
|99       |
|98       |
|97       |
|96       |
|94       |
|93       |
|92       |
|91       |
|90       |
|9        |
|89       |
|87       |
|86       |
|85       |
|84       |
|83       |
|82       |
|81       |
|80       |
|8        |
+---------+
only showing top 20 rows

None
+---------+
|filial_id|
+---------+
|null     |
|1        |
|100      |
|101      |
|102      |
|103      |
|106      |
|107      |
|108      |
|109      |
|11       |
|110      |
|111      |
|112      |
|114      |
|115      |
|116      |
|117      |
|118      |
|119      |
+---------+
only showing top 20 rows

+----------+
|black_list|
+----------+
|1         |
|0         |
+----------+

None
+----------+
|black_list|
+----------+
|0         |
|1         |
+----------+

+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|full_address                                                                                                                                                                                                |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|чувашская, чебоксары, мичмана павлова                                                                                                                                                                       |
|усть-славянка, Советский пр-кт 41, стр. 1, корп. 1, 720                                                                                                                                                     |
|усть-славянка, Советский 73                                                                                                                                                                                 |
|установлено относительно ориентира, расположенного за пределами участка. Ориентир: жилой дом. Участок находится примерно в 680м от ориентира по направлению на запад. Почтовый адрес ориентира: участок №300|
|улаарина, аарина 49                                                                                                                                                                                         |
|ул Цвиллина, Цвиллина 48                                                                                                                                                                                    |
|ул Островскоо, Островскоо 17а, 34                                                                                                                                                                           |
|ул Маеова, Маеова 20, 525                                                                                                                                                                                   |
|ул Дзержинскоо, Дзержинскоо 8, 80                                                                                                                                                                           |
|ул Даестанская, Даестанская 10 (1), 24                                                                                                                                                                      |
|ул Волорадская, Волорадская 17, 59                                                                                                                                                                          |
|тат, Осиново, Ленина 3, 5                                                                                                                                                                                   |
|ст "Прироа"                                                                                                                                                                                                 |
|ст " Маручак "                                                                                                                                                                                              |
|ст " Контакт "                                                                                                                                                                                              |
|саовоческое товарищество "Автомобилист"                                                                                                                                                                     |
|с/т "идро" 0605008, с/т "иро" 0605008                                                                                                                                                                       |
|с.Нижегородка, Руслана Низамутдинова 16                                                                                                                                                                     |
|с. Яуново, Асиновская 3                                                                                                                                                                                     |
|с. Яуново, Асиновская                                                                                                                                                                                       |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

None
+--------------------------------------------------------------------------------------------------------------------------------------------------+
|full_address                                                                                                                                      |
+--------------------------------------------------------------------------------------------------------------------------------------------------+
|null                                                                                                                                              |
|\tКалужская область, Жуковский район, Муниципальное образование "Сельское поселение деревня Корсаково", с/т "Красная Пахра", участок № 5, Подольск|
|\tМосква, Бирюлево Восточное, ул. Радиальная 6-я, д. 5, корп. 2, кв. 2                                                                            |
|\tМосква, Бирюлево Восточное, ул. Радиальная 6-я, д. 5, корп. 2, кв. 40                                                                           |
|\tМосква, Бирюлево Восточное, ул. Радиальная 6-я, д. 5, корп. 2, кв. 47                                                                           |
|\tМосква, Бирюлево Восточное, ул. Радиальная 6-я, д. 5, корп. 2, кв. 577                                                                          |
|\tМосковская обл., Домодедовский р-н, город Домодедово, микрорайон Авиационный, улица Королева, д. 4, кв. 151                                     |
|\tМосковская область, Городской округ Подольск, в районе деревни Бородино, Варшавское шоссе, дом 70, квартира 26                                  |
|\tМосковская область, Ленинский муниципальный район, сельское поселение Булатниковское, д. Боброво, ул. Лесная, д.22, корп. 2, кв. 219            |
|\tМосковская область, Ленинский муниципальный район, сельское поселение Булатниковское, д. Дрожжино, ул. Южная, д.19, кв. 548                     |
|\tМосковская область, Наро-Фоминский район, городское поселение Селятино, ст.Селятино, в/ч 92925, д.35, кв.30                                     |
|\tМосковская область, Подольск г/о, г. Подольск, ул. Садовая, д. 5, корп. 1, кв. 319                                                              |
|\tМосковская область, Подольский район, садоводческий кооператив "Трасса", вблизи д. Матвеевское Лаговского сельского округа                      |
|\tМосковская область, Серпуховский район, район д.Глебово, СНТ "Биоприбор", участок №46                                                           |
|\tМосковская область, Ступинский район, сельское поселение Леонтьевское, в районе д. Волково                                                      |
|\tМосковская область, Щелковский муниципальный район, городское поселение Щелково, город Щелково, ул.Чкаловская, дом №5, квартира № 126           |
|\tМосковская область, г Подольск, б-р Бородинский, д 5, кв 34                                                                                     |
|\tМосковская область, г Подольск, ул Бородинская, д 17, пом 9                                                                                     |
|\tМосковская область, г Подольск, ул Колхозная, д 16, корп 1, пом 62, Подольск                                                                    |
|\tМосковская область, г. Подольск, ул. Кирова, д. 64а, пом. 9                                                                                     |
+--------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

+---+
|lot|
+---+
|   |
+---+

None
+---+
|lot|
+---+
|   |
+---+

## Bonus

### 2nd solution (Cycle and variables)
#### Slower but more simple and has more readability than the previous method

### Create the list of variables to re-use if needed

In [ ]:
useless_columns = []
null_values = []
zero_values = []
empty_string = []
col_name = []

In [ ]:
for col in eda_df.columns:
    null = round((eda_df.filter(eda_df[col].isNull()).count()/eda_df.count())*100, 3)
    zero = round(eda_df.filter(eda_df[col]==0).count()/eda_df.count()*100, 3)
    empty = round(eda_df.filter(eda_df[col]=='').count()/eda_df.count()*100, 3)
    if null in [0, 100] and zero in [0, 100] and empty in [0, 100]:
        useless_columns.append(col)
        continue
    null_values.append(null)
    zero_values.append(zero)
    empty_string.append(empty)
    col_name.append(col)

In [ ]:
zipped = list(zip(null_values, zero_values, empty_string))
eda_df_pandas2 = pd.DataFrame(zipped, index=col_name, columns=['NULL', 'Zero', 'Empty'])
eda_df_pandas2

### Remove useless columns

In [ ]:
eda_df = eda_df.drop(*useless_columns)

In [ ]:
pd.DataFrame(eda_df.dtypes, columns = ['Column Name','Data type'])

In [807]:
spark.stop()

I1120 02:26:20.088167 10390 sched.cpp:2174] Asked to stop the driver
I1120 02:26:20.088843 10527 sched.cpp:1207] Stopping framework 89161c75-8817-4ae4-ab24-cba26241d6f9-75625