# Tech Intro

## Main tables

In [1]:
# Real Estate's objects
real_estate_list: list = [
    'ag_object',
    'ag_parse_ad',
    'ag_lead_object',
    'ag_presentation_object',
    'ag_object_platform',
    'ag_posting_ad_realty',
    'native_realty_filial',
    'foreign_realty_filial',
    'spr_metro',
    'spr_metro_connection',
    'ag_object_parking']
# Lead's objects
lead_list: list = [
    'leads',
    'lead_utm',
    'client_wishes',
    'leads_email_order',
    'request_from_site',
    'lead_finance',
    'leads_source_spr',
    'leads_calls_connection',
    'leads_pipeline',
    'leads_not_implemented_reason',
    'leads_status',
    'ag_pipeline',
    'ag_pipeline_status',
    'leads_meta',
    'leads_meta_fields',
    'leads_meta_group',
    'leads_contacts_connect',
    'leads_contact',
    'leads_contact_meta',
    'leads_contact_meta_fields']
# Deal's objects
deal_list: list = [
    # Deal
    'a_deal',
    'a_deal_meta',
    'deal_passport',
    'a_deal_finance',
    'a_deal_check',
    'a_deal_test',
    # Contractor
    'a_contractor',
    'a_contractor_meta',
    'a_deal_contractor',
    'a_deal_contractor_meta',
    # Object
    'a_object',
    'a_object_meta',
    'a_deal_object']

## Main Variables

In [2]:
# Address and name of your notebook
venv_path = "/home/bigdata/a.umarov/jupyter_P24"
# Exploratory Data Analysis(EDA) table (eda_table)
eda_table = lead_list[0] # You can generate full-EDA cycle if you want through the all of tables
                                # Just iterate it !
# Exploratory Data Analysis(EDA) obj as PySpark DataFrame
eda_df = None
# Set the date of checking
sample_data_date = '20221027'

## Useful command and modules (can be transform into the 'importlib'- smart import logic)

In [3]:
import os
import pandas as pd
# To data analyze need the module
import pyspark.pandas as ps
os.environ["PYSPARK_PYTHON"] = f"{venv_path}/bin/python3"
os.environ["PYSPARK_DRIVER_PYTHON"] = f"{venv_path}/bin/python3"

import findspark
findspark.init("/opt/dev/spark/spark")
 
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession, SQLContext, DataFrameNaFunctions, \
                        Window, DataFrame, DataFrameStatFunctions, \
                        Column, Row, GroupedData, functions, types
from pyspark.sql.functions import isnan, when, count, col


conf = SparkConf().setAppName("get_info_from_" + eda_table + "_table")
sc = SparkContext(conf=conf)
sc.setLogLevel("ERROR")
spark = SparkSession(sc)

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
22/11/19 13:01:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/11/19 13:01:23 WARN SparkConf: Note that spark.local.dir will be overridden by the value set by the cluster manager (via SPARK_LOCAL_DIRS in mesos/standalone/kubernetes and LOCAL_DIRS in YARN).
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4080. Attempting port 4081.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4081. Attempting port 4082.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4082. Attempting port 4083.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4083. Attempting port 4084.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4084. Attempting port 4085.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4085. Attempting port 4086.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4086. Attempting port 4087.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4087. Attempting port 4088.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4088. Attempting port 4089.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4089. Attempting port 4090.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4090. Attempting port 4091.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4091. Attempting port 4092.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4092. Attempting port 4093.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4093. Attempting port 4094.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4094. Attempting port 4095.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4095. Attempting port 4096.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4096. Attempting port 4097.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4097. Attempting port 4098.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4098. Attempting port 4099.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4099. Attempting port 4100.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4100. Attempting port 4101.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4101. Attempting port 4102.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4102. Attempting port 4103.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4103. Attempting port 4104.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4104. Attempting port 4105.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4105. Attempting port 4106.
22/11/19 13:01:24 WARN Utils: Service 'SparkUI' could not bind on port 4106. Attempting port 4107.
22/11/19 13:01:24 WARN FairSchedulableBuilder: Fair Scheduler configuration file not found so jobs will be scheduled in FIFO order. To use fair scheduling, configure pools in fairscheduler.xml or set spark.scheduler.allocation.file to a file that contains the configuration.
2022-11-19 13:01:24,759:9981(0x7fd9d5ffb700):ZOO_INFO@log_env@753: Client environment:zookeeper.version=zookeeper C client 3.4.8
2022-11-19 13:01:24,759:9981(0x7fd9d5ffb700):ZOO_INFO@log_env@757: Client environment:host.name=sd-dts01
2022-11-19 13:01:24,759:9981(0x7fd9d5ffb700):ZOO_INFO@log_env@764: Client environment:os.name=Linux
2022-11-19 13:01:24,759:9981(0x7fd9d5ffb700):ZOO_INFO@log_env@765: Client environment:os.arch=3.10.0-1160.76.1.el7.x86_64
2022-11-19 13:01:24,759:9981(0x7fd9d5ffb700):ZOO_INFO@log_env@766: Client environment:os.version=#1 SMP Wed Aug 10 16:21:17 UTC 2022
2022-11-19 13:01:24,759:9981(0x7fd9d5ffb700):ZOO_INFO@log_env@774: Client environment:user.name=(null)
I1119 13:01:24.759830 10590 sched.cpp:241] Version: 1.11.0
2022-11-19 13:01:24,759:9981(0x7fd9d5ffb700):ZOO_INFO@log_env@782: Client environment:user.home=/home/a.umarov
2022-11-19 13:01:24,759:9981(0x7fd9d5ffb700):ZOO_INFO@log_env@794: Client environment:user.dir=/home/a.umarov
2022-11-19 13:01:24,759:9981(0x7fd9d5ffb700):ZOO_INFO@zookeeper_init@827: Initiating client connection, host=sd-namenode01:2181,sd-namenode02:2181,sd-namenode03:2181 sessionTimeout=10000 watcher=0x7fd735d67cb0 sessionId=0 sessionPasswd=<null> context=0x7fd6fc000ad0 flags=0
2022-11-19 13:01:24,761:9981(0x7fd99f7fe700):ZOO_INFO@check_events@1764: initiated connection to server [10.62.4.12:2181]
2022-11-19 13:01:24,771:9981(0x7fd99f7fe700):ZOO_INFO@check_events@1811: session establishment complete on server [10.62.4.12:2181], sessionId=0x181048e7f756394, negotiated timeout=10000
I1119 13:01:24.771826 10554 group.cpp:341] Group process (zookeeper-group(1)@10.62.4.11:44708) connected to ZooKeeper
I1119 13:01:24.771886 10554 group.cpp:831] Syncing group operations: queue size (joins, cancels, datas) = (0, 0, 0)
I1119 13:01:24.771901 10554 group.cpp:419] Trying to create path '/samolet-mesos' in ZooKeeper
I1119 13:01:24.773710 10554 detector.cpp:152] Detected a new leader: (id='13')
I1119 13:01:24.773847 10571 group.cpp:700] Trying to get '/samolet-mesos/json.info_0000000013' in ZooKeeper
I1119 13:01:24.777923 10577 zookeeper.cpp:262] A new leading master (UPID=master@10.62.4.8:5050) is detected
I1119 13:01:24.778007 10578 sched.cpp:345] New master detected at master@10.62.4.8:5050
I1119 13:01:24.778290 10578 sched.cpp:365] No credentials provided. Attempting to register without authentication
I1119 13:01:24.780911 10581 sched.cpp:753] Framework registered with 89161c75-8817-4ae4-ab24-cba26241d6f9-75308
22/11/19 13:01:25 WARN DomainSocketFactory: The short-circuit local reads feature cannot be used because libhadoop cannot be loaded.

## Read the spec-file from Hadoop and show some data sample

In [4]:
eda_df = spark.read.parquet("/prod/source/p24/" + eda_table + "/datekey=" + sample_data_date)
eda_df.show(10, False)

+--------+--------------------------------+-------+-----------+-------------+-------------------+---------------+----------------+---------+-----+----+-------+-----------------+-------------+------+------+-----+-----+-------+----------+-----------+---------+--------+--------------+-----------------+-----------------+---------+-------+-------+------------+---------------+-------------------+------------+------------+------------------+-------+----------+-----------+
|id      |name                            |ag_name|date_create|last_modified|responsible_user_id|created_user_id|modified_user_id|status_id|price|sort|deleted|leads_pipeline_id|finish_reason|source|status|rg_id|agent|address|closed_at |create_type|filial_id|order_id|agent_accepted|agent_accepted_at|ag_pipe_status_id|ag_status|ag_type|comment|date_meeting|who_see_comment|leads_source_spr_id|created_chat|agent_module|call_center_module|lead_id|company_id|is_exported|
+--------+--------------------------------+-------+-----------+-------------+-------------------+---------------+----------------+---------+-----+----+-------+-----------------+-------------+------+------+-----+-----+-------+----------+-----------+---------+--------+--------------+-----------------+-----------------+---------+-------+-------+------------+---------------+-------------------+------------+------------+------------------+-------+----------+-----------+
|10066239|Винер                           |null   |1530729377 |1574869144   |1538452            |1774219        |null            |143      |null |null|0      |1707907          |null         |null  |7     |null |null |null   |1532082209|1          |1        |null    |0             |null             |null             |1        |0      |null   |null        |2              |null               |0           |0           |1                 |null   |1         |0          |
|10066767|Автосделка: Вакансии            |null   |1530746605 |1574863870   |1926631            |1              |null            |143      |null |null|0      |758179           |null         |null  |7     |null |null |null   |1531114483|1          |1        |null    |0             |null             |null             |1        |0      |null   |null        |2              |null               |0           |0           |1                 |null   |1         |0          |
|10067439|Сделка #10067439                |null   |1530768967 |1574863924   |1926631            |1926631        |null            |143      |null |null|0      |758179           |null         |null  |7     |null |null |null   |1531462561|1          |1        |null    |0             |null             |null             |1        |0      |null   |null        |2              |null               |0           |0           |1                 |null   |1         |0          |
|10067627|Покупка 1к.квартиры 3200        |null   |1530770338 |1574865844   |1538452            |1538452        |null            |143      |null |null|0      |1707907          |null         |null  |7     |null |null |null   |1537423875|1          |1        |null    |0             |null             |null             |1        |0      |null   |null        |2              |null               |0           |0           |1                 |null   |1         |0          |
|10071535|Покупка 1к в Центре             |null   |1530779386 |1597125873   |3257503            |1774219        |null            |29845139 |null |null|0      |2049246          |null         |null  |7     |null |null |null   |1553774196|1          |1        |null    |0             |null             |null             |1        |0      |null   |null        |2              |null               |0           |0           |1                 |null   |1         |0          |
|10107489|Жалоба на Чебоксары             |null   |1530803353 |1574865844   |1538452            |1538458        |null            |16758046 |null |null|0      |814804           |null         |null  |7     |null |null |null   |null      |1          |1        |null    |0             |null             |null             |1        |0      |null   |null        |2              |null               |0           |0           |1                 |null   |1         |0          |
|10120397|Автосделка: Вакансии            |null   |1530858324 |1574863925   |1926631            |1              |null            |142      |null |null|0      |758179           |null         |null  |7     |null |null |null   |1531734471|1          |1        |null    |0             |null             |null             |1        |0      |null   |null        |2              |null               |0           |0           |1                 |null   |1         |0          |
|10124193|Сделка #10124193                |null   |1530873904 |1574863929   |1926631            |1926631        |null            |143      |null |null|0      |758179           |null         |null  |7     |null |null |null   |1532408523|1          |1        |null    |0             |null             |null             |1        |0      |null   |null        |2              |null               |0           |0           |1                 |null   |1         |0          |
|10124273|Казань.1к ArtCity               |null   |1530874266 |1597125873   |3257503            |1753945        |null            |29845139 |null |null|0      |2049246          |null         |null  |7     |null |null |null   |1569580684|1          |1        |null    |0             |null             |null             |1        |0      |null   |null        |2              |null               |0           |0           |1                 |null   |1         |0          |
|10131649|Нижневартовск. Продажа в Малоязе|null   |1530954538 |1574865845   |1538452            |1538452        |null            |143      |null |null|0      |1707907          |null         |null  |7     |null |null |null   |1531233393|1          |1        |null    |0             |null             |null             |1        |0      |null   |null        |2              |null               |0           |0           |1                 |null   |1         |0          |
+--------+--------------------------------+-------+-----------+-------------+-------------------+---------------+----------------+---------+-----+----+-------+-----------------+-------------+------+------+-----+-----+-------+----------+-----------+---------+--------+--------------+-----------------+-----------------+---------+-------+-------+------------+---------------+-------------------+------------+------------+------------------+-------+----------+-----------+
only showing top 10 rows

## Show columns' properties

In [5]:
print('Data overview')
eda_df.printSchema()

Data overview
root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- ag_name: string (nullable = true)
 |-- date_create: string (nullable = true)
 |-- last_modified: string (nullable = true)
 |-- responsible_user_id: string (nullable = true)
 |-- created_user_id: string (nullable = true)
 |-- modified_user_id: string (nullable = true)
 |-- status_id: string (nullable = true)
 |-- price: string (nullable = true)
 |-- sort: string (nullable = true)
 |-- deleted: string (nullable = true)
 |-- leads_pipeline_id: string (nullable = true)
 |-- finish_reason: string (nullable = true)
 |-- source: string (nullable = true)
 |-- status: string (nullable = true)
 |-- rg_id: string (nullable = true)
 |-- agent: string (nullable = true)
 |-- address: string (nullable = true)
 |-- closed_at: string (nullable = true)
 |-- create_type: string (nullable = true)
 |-- filial_id: string (nullable = true)
 |-- order_id: string (nullable = true)
 |-- agent_accepted: string (nullable = true)
 |-- agent_accepted_at: string (nullable = true)
 |-- ag_pipe_status_id: string (nullable = true)
 |-- ag_status: string (nullable = true)
 |-- ag_type: string (nullable = true)
 |-- comment: string (nullable = true)
 |-- date_meeting: string (nullable = true)
 |-- who_see_comment: string (nullable = true)
 |-- leads_source_spr_id: string (nullable = true)
 |-- created_chat: string (nullable = true)
 |-- agent_module: string (nullable = true)
 |-- call_center_module: string (nullable = true)
 |-- lead_id: string (nullable = true)
 |-- company_id: string (nullable = true)
 |-- is_exported: string (nullable = true)

## Total rows (count)

In [6]:
eda_df.count()

981633

## Simple func to execute and show the result of the SQL-instruction

In [7]:
def execute(select_instruction: str = "select count(*) from eda_sql") -> object:
    """
    Method to execute and show the result of your SQL-instruction
    :default -> "select count(*) from eda_sql"
    :param :string select_instruction: SQL statement
    :return: result of the SQL-operation as a table
    """
    return spark.sql(select_instruction).show(truncate = False)

## Create the temp-table-view from the DF (called as "eda_sql")

In [8]:
eda_df.createOrReplaceTempView("eda_sql")

## Check the method and temp-table

In [9]:
execute("select count(*) from eda_sql")

+--------+
|count(1)|
+--------+
|981633  |
+--------+

## Detect missing values and abnormal zeroes and print it

###### Check-rule Matrix


|  Name of the rule    |Available                   
|----------------------|-------------------------|
|NULL/NaN/NA           |+                        |
|'Zero'-value          |+                        |
|'Empty-string'        |+                        |

### 1st solution (PySpark & Pandas version)
#### Max perfomance but harder to read & understand

##### Filter and count after - all the values in the  our EDA-DF

In [10]:
# NULL/NaN/NA values condition
eda_df_null_values = eda_df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) \
                                    for c in eda_df.columns]).toPandas()
eda_df_null_values

,id,name,ag_name,date_create,last_modified,responsible_user_id,created_user_id,modified_user_id,status_id,price,...,comment,date_meeting,who_see_comment,leads_source_spr_id,created_chat,agent_module,call_center_module,lead_id,company_id,is_exported
0,0,29,587301,2,30,33580,359328,66277,568645,964105,...,718389,596682,0,696131,0,0,0,824129,0,0

In [11]:
# Zero values condition
eda_df_zero_values = eda_df.select([count(when(col(c) == 0, c)).alias(c) \
                                    for c in eda_df.columns]).toPandas()
eda_df_zero_values

,id,name,ag_name,date_create,last_modified,responsible_user_id,created_user_id,modified_user_id,status_id,price,...,comment,date_meeting,who_see_comment,leads_source_spr_id,created_chat,agent_module,call_center_module,lead_id,company_id,is_exported
0,0,1,0,0,0,0,17,13,0,583,...,1451,114,0,0,977899,429457,552176,0,0,981132

In [12]:
# Empty-string values condition
eda_df_empty_values = eda_df.select([count(when(col(c) == '', c)).alias(c) \
                                     for c in eda_df.columns]).toPandas()
eda_df_empty_values

,id,name,ag_name,date_create,last_modified,responsible_user_id,created_user_id,modified_user_id,status_id,price,...,comment,date_meeting,who_see_comment,leads_source_spr_id,created_chat,agent_module,call_center_module,lead_id,company_id,is_exported
0,0,948,0,0,0,0,0,0,0,0,...,206064,0,0,0,0,0,0,0,0,0

In [13]:
# Unlock the limit to display all the columns
pd.options.display.max_rows = None
# To transpose a dataframe - use .T method
eda_df_pandas = pd.concat([eda_df_null_values, eda_df_zero_values, eda_df_empty_values], axis = 'index').T
# To rename columns to anything else after the transpose
eda_df_pandas.columns = (['NULL','Zero','Empty_string'])
eda_df_pandas

                       NULL    Zero  Empty_string
id                        0       0             0
name                     29       1           948
ag_name              587301       0             0
date_create               2       0             0
last_modified            30       0             0
responsible_user_id   33580       0             0
created_user_id      359328      17             0
modified_user_id      66277      13             0
status_id            568645       0             0
price                964105     583             0
sort                 980067    1023             0
deleted                   0  976584             0
leads_pipeline_id    569678       0             0
finish_reason        981570       0             0
source               981633       0             0
status                    0   35229             0
rg_id                847868       0             0
agent                172001       0             0
address              954908       0             0
closed_at            402836       0             0
create_type               0       0             0
filial_id                 0       0             0
order_id             981631       0             0
agent_accepted            0  472998             0
agent_accepted_at    741881       0             0
ag_pipe_status_id    473729       0             0
ag_status                 0  359929             0
ag_type                   0  473060             0
comment              718389    1451        206064
date_meeting         596682     114             0
who_see_comment           0       0             0
leads_source_spr_id  696131       0             0
created_chat              0  977899             0
agent_module              0  429457             0
call_center_module        0  552176             0
lead_id              824129       0             0
company_id                0       0             0
is_exported               0  981132             0

In [16]:
def set_result_to_percent(df: object = None) -> object:
    """
    Method to execute and show the result of your PandasDataFrame
    :default -> None-object
    :param :Pandas DF
    :return: DF after the conversion (absolute -> percent)
    """
    if df is None:
        return "Please incl. at least one Pandas DF as a parameter"
    return round(df * 100 / eda_df.count(), 3)

In [17]:
set_result_to_percent(eda_df_pandas)

                        NULL    Zero  Empty_string
id                     0.000   0.000         0.000
name                   0.003   0.000         0.097
ag_name               59.829   0.000         0.000
date_create            0.000   0.000         0.000
last_modified          0.003   0.000         0.000
responsible_user_id    3.421   0.000         0.000
created_user_id       36.605   0.002         0.000
modified_user_id       6.752   0.001         0.000
status_id             57.928   0.000         0.000
price                 98.214   0.059         0.000
sort                  99.840   0.104         0.000
deleted                0.000  99.486         0.000
leads_pipeline_id     58.034   0.000         0.000
finish_reason         99.994   0.000         0.000
source               100.000   0.000         0.000
status                 0.000   3.589         0.000
rg_id                 86.373   0.000         0.000
agent                 17.522   0.000         0.000
address               97.277   0.000         0.000
closed_at             41.037   0.000         0.000
create_type            0.000   0.000         0.000
filial_id              0.000   0.000         0.000
order_id             100.000   0.000         0.000
agent_accepted         0.000  48.185         0.000
agent_accepted_at     75.576   0.000         0.000
ag_pipe_status_id     48.259   0.000         0.000
ag_status              0.000  36.666         0.000
ag_type                0.000  48.191         0.000
comment               73.183   0.148        20.992
date_meeting          60.785   0.012         0.000
who_see_comment        0.000   0.000         0.000
leads_source_spr_id   70.916   0.000         0.000
created_chat           0.000  99.620         0.000
agent_module           0.000  43.749         0.000
call_center_module     0.000  56.251         0.000
lead_id               83.955   0.000         0.000
company_id             0.000   0.000         0.000
is_exported            0.000  99.949         0.000

### SQL-instructions

In [18]:
#Find dupes or misunderstanding or useless static values 981 633 total
for col in eda_df.columns:
    execute("select count(distinct("+ col + ")) from eda_sql")

+------------------+
|count(DISTINCT id)|
+------------------+
|981633            |
+------------------+

+--------------------+
|count(DISTINCT name)|
+--------------------+
|587914              |
+--------------------+

+-----------------------+
|count(DISTINCT ag_name)|
+-----------------------+
|341225                 |
+-----------------------+

+---------------------------+
|count(DISTINCT date_create)|
+---------------------------+
|943987                     |
+---------------------------+

+-----------------------------+
|count(DISTINCT last_modified)|
+-----------------------------+
|895297                       |
+-----------------------------+

+-----------------------------------+
|count(DISTINCT responsible_user_id)|
+-----------------------------------+
|11586                              |
+-----------------------------------+

+-------------------------------+
|count(DISTINCT created_user_id)|
+-------------------------------+
|11696                          |
+-------------------------------+

+--------------------------------+
|count(DISTINCT modified_user_id)|
+--------------------------------+
|8200                            |
+--------------------------------+

+-------------------------+
|count(DISTINCT status_id)|
+-------------------------+
|70                       |
+-------------------------+

+---------------------+
|count(DISTINCT price)|
+---------------------+
|2568                 |
+---------------------+

+--------------------+
|count(DISTINCT sort)|
+--------------------+
|20                  |
+--------------------+

+-----------------------+
|count(DISTINCT deleted)|
+-----------------------+
|2                      |
+-----------------------+

+---------------------------------+
|count(DISTINCT leads_pipeline_id)|
+---------------------------------+
|19                               |
+---------------------------------+

+-----------------------------+
|count(DISTINCT finish_reason)|
+-----------------------------+
|7                            |
+-----------------------------+

+----------------------+
|count(DISTINCT source)|
+----------------------+
|0                     |
+----------------------+

+----------------------+
|count(DISTINCT status)|
+----------------------+
|9                     |
+----------------------+

+---------------------+
|count(DISTINCT rg_id)|
+---------------------+
|524                  |
+---------------------+

+---------------------+
|count(DISTINCT agent)|
+---------------------+
|12103                |
+---------------------+

+-----------------------+
|count(DISTINCT address)|
+-----------------------+
|8396                   |
+-----------------------+

+-------------------------+
|count(DISTINCT closed_at)|
+-------------------------+
|555670                   |
+-------------------------+

+---------------------------+
|count(DISTINCT create_type)|
+---------------------------+
|8                          |
+---------------------------+

+-------------------------+
|count(DISTINCT filial_id)|
+-------------------------+
|209                      |
+-------------------------+

+------------------------+
|count(DISTINCT order_id)|
+------------------------+
|2                       |
+------------------------+

+------------------------------+
|count(DISTINCT agent_accepted)|
+------------------------------+
|2                             |
+------------------------------+

+---------------------------------+
|count(DISTINCT agent_accepted_at)|
+---------------------------------+
|224140                           |
+---------------------------------+

+---------------------------------+
|count(DISTINCT ag_pipe_status_id)|
+---------------------------------+
|2133                             |
+---------------------------------+

+-------------------------+
|count(DISTINCT ag_status)|
+-------------------------+
|4                        |
+-------------------------+

+-----------------------+
|count(DISTINCT ag_type)|
+-----------------------+
|5                      |
+-----------------------+

+-----------------------+
|count(DISTINCT comment)|
+-----------------------+
|34301                  |
+-----------------------+

+----------------------------+
|count(DISTINCT date_meeting)|
+----------------------------+
|365867                      |
+----------------------------+

+-------------------------------+
|count(DISTINCT who_see_comment)|
+-------------------------------+
|2                              |
+-------------------------------+

+-----------------------------------+
|count(DISTINCT leads_source_spr_id)|
+-----------------------------------+
|814                                |
+-----------------------------------+

+----------------------------+
|count(DISTINCT created_chat)|
+----------------------------+
|2                           |
+----------------------------+

+----------------------------+
|count(DISTINCT agent_module)|
+----------------------------+
|2                           |
+----------------------------+

+----------------------------------+
|count(DISTINCT call_center_module)|
+----------------------------------+
|2                                 |
+----------------------------------+

+-----------------------+
|count(DISTINCT lead_id)|
+-----------------------+
|129234                 |
+-----------------------+

+--------------------------+
|count(DISTINCT company_id)|
+--------------------------+
|2                         |
+--------------------------+

+---------------------------+
|count(DISTINCT is_exported)|
+---------------------------+
|2                          |
+---------------------------+

In [100]:
#Find dupes or misunderstanding or useless static values 981 633 total

execute("SELECT DISTINCT(date_meeting)\
        FROM eda_sql\
        WHERE 1 = 1 \
        ORDER BY date_meeting ASC")

execute("SELECT DISTINCT(ag_type)\
        FROM eda_sql\
        WHERE 1 = 1 \
        ORDER BY ag_type DESC")

execute("SELECT DISTINCT(status)\
        FROM eda_sql\
        WHERE 1 = 1 \
        ORDER BY status ASC")

execute("SELECT price\
        FROM eda_sql\
        WHERE 1 = 1 \
        ORDER BY price DESC")

execute("SELECT last_modified\
        FROM eda_sql\
        WHERE 1 = 1 \
        ORDER BY last_modified ASC")

execute("SELECT date_create\
        FROM eda_sql\
        WHERE 1 = 1 \
        ORDER BY date_create ASC")

execute("SELECT ag_name\
        FROM eda_sql\
        WHERE ag_name like '8%'\
        ORDER BY ag_name ASC")

execute("SELECT name\
        FROM eda_sql\
        WHERE name like '1%'\
        ORDER BY name ASC")

execute("SELECT name\
        FROM eda_sql\
        WHERE name != ''\
        ORDER BY name ASC")

execute("SELECT lead_id,\
        count(lead_id) AS quantity \
        FROM eda_sql\
        GROUP BY lead_id\
        HAVING count(lead_id) > 1 \
        ORDER BY quantity DESC")

+------------+
|date_meeting|
+------------+
|null        |
|0           |
|1539118800  |
|1578942000  |
|1586725200  |
|1593370800  |
|1595451600  |
|1595962800  |
|1596142800  |
|1598900400  |
|1599418800  |
|1602450000  |
|1602709200  |
|1602788400  |
|1603306800  |
|1603746000  |
|1604948400  |
|1605643200  |
|1605733200  |
|1606942800  |
+------------+
only showing top 20 rows

+-------+
|ag_type|
+-------+
|4      |
|3      |
|2      |
|1      |
|0      |
+-------+

+------+
|status|
+------+
|0     |
|1     |
|2     |
|3     |
|32767 |
|4     |
|5     |
|6     |
|7     |
+------+

+---------+
|price    |
+---------+
|9999000  |
|9990000  |
|9990000  |
|9990000  |
|9990000  |
|999000   |
|999000   |
|99900    |
|99900    |
|998000000|
|998000   |
|998000   |
|998000   |
|99522    |
|9950000  |
|99500    |
|99489    |
|99200    |
|99160    |
|9900000  |
+---------+
only showing top 20 rows

+-------------+
|last_modified|
+-------------+
|null         |
|null         |
|null         |
|null         |
|null         |
|null         |
|null         |
|null         |
|null         |
|null         |
|null         |
|null         |
|null         |
|null         |
|null         |
|null         |
|null         |
|null         |
|null         |
|null         |
+-------------+
only showing top 20 rows

+-----------+
|date_create|
+-----------+
|null       |
|null       |
|-2147483648|
|1502353933 |
|1502359505 |
|1502875732 |
|1502946686 |
|1503043698 |
|1503379843 |
|1503484163 |
|1503557796 |
|1503565304 |
|1503911109 |
|1503911489 |
|1504000572 |
|1504585466 |
|1504585659 |
|1504585868 |
|1504594628 |
|1504597311 |
+-----------+
only showing top 20 rows

+-------------------------+
|ag_name                  |
+-------------------------+
|8(964) 853-09-41         |
|8282858817               |
|84575844774              |
|8855555588               |
|8900000000000000000000000|
|89004756090              |
|89004764494              |
|89022035476              |
|89022095053              |
|89023476172              |
|89023520959              |
|89023520959              |
|89023526922              |
|89028012629              |
|89028012629              |
|89028800689              |
|89033230909              |
|89033230909              |
|89033233999              |
|89036979047              |
+-------------------------+
only showing top 20 rows

+--------------------------------------------------------------------------------------------+
|name                                                                                        |
+--------------------------------------------------------------------------------------------+
|1                                                                                           |
|1                                                                                           |
|1                                                                                           |
|1                                                                                           |
|1                                                                                           |
|1                                                                                           |
|1 + в ЖК Белая Река                                                                         |
|1 + в ЖК Цветы Башкирии                                                                     |
|1 + в Цветах Башкирии. Зависшие                                                             |
|1 -ка район Орджоникидзевский                                                               |
|1 100 000т.р.12 сот.Завидово уч.242, уч.243, 89273388813 Артем, ИРИНА АД                    |
|1 750 000 ₽ Площадь 37.00 м² Адрес Россия, Смоленск, микрорайон Южный, 35                   |
|1 770 000 ₽ Площадь 32.00 м² Адрес Россия, Киров, Первомайский район, Пролетарская улица, 53|
|1 Азинская,41 плюс подбор                                                                   |
|1 БР , 1 ХР                                                                                 |
|1 БР , 1 ХР                                                                                 |
|1 БР 1 ХР                                                                                   |
|1 БР 1 ХР 1 СС 1 УП                                                                         |
|1 БР Морской, 45                                                                            |
|1 БР Приморский 14                                                                          |
+--------------------------------------------------------------------------------------------+
only showing top 20 rows

+---------------------------------------------------+
|name                                               |
+---------------------------------------------------+
|\tАйская ул., 69/2                                 |
|\tАйская ул., 69/2, достоевского 158               |
|\tАртезианская д.15                                |
|\tДемский район, Демский кардон, СНТ "Рица" 71     |
|\tДетский проезд, дом 1.2 Эллина                   |
|\tПетропавловская ул., 48                          |
|\tРодниковая ул., 57                               |
|\tРоторная ул., 11 КАЗАНЬ                          |
|\tУфа, Село Михайловка, ул. Луговая, 9             |
|\tб-р Баландина, 11                                |
|\tпер. Подгорный д.4                               |
|\tпр. Альберта Камалеева 6 КАЗАНЬ                  |
|\tул. 50 лет СССР, 40                              |
|\tул. Азата Аббасова 4190                          |
|\tул. Аланлык 47                                   |
|\tул. Бессонова, 35                                |
|\tул. Бородинская, 2В                              |
|\tул. Гайнутдинова 22                              |
|\tул. Гайнутдинова-Квартира, 3 ком., 65,2 м2, 8 эт.|
|\tул. Комсомольская, 167                           |
+---------------------------------------------------+
only showing top 20 rows

+--------+--------+
|lead_id |quantity|
+--------+--------+
|21840457|37      |
|22173487|23      |
|21848893|22      |
|22043810|20      |
|22159195|19      |
|21938534|18      |
|22073074|17      |
|21963025|17      |
|21909583|17      |
|22143889|17      |
|21928258|17      |
|22104749|16      |
|21953432|16      |
|21779920|16      |
|21773855|16      |
|22009195|15      |
|22115877|15      |
|21763043|15      |
|22145582|15      |
|21972891|15      |
+--------+--------+
only showing top 20 rows

## Bonus

### 2nd solution (Cycle and variables)
#### Slower but more simple and has more readability than the previous method

### Create the list of variables to re-use if needed

In [ ]:
useless_columns = []
null_values = []
zero_values = []
empty_string = []
col_name = []

In [ ]:
for col in eda_df.columns:
    null = round((eda_df.filter(eda_df[col].isNull()).count()/eda_df.count())*100, 3)
    zero = round(eda_df.filter(eda_df[col]==0).count()/eda_df.count()*100, 3)
    empty = round(eda_df.filter(eda_df[col]=='').count()/eda_df.count()*100, 3)
    if null in [0, 100] and zero in [0, 100] and empty in [0, 100]:
        useless_columns.append(col)
        continue
    null_values.append(null)
    zero_values.append(zero)
    empty_string.append(empty)
    col_name.append(col)

In [ ]:
zipped = list(zip(null_values, zero_values, empty_string))
eda_df_pandas2 = pd.DataFrame(zipped, index=col_name, columns=['NULL', 'Zero', 'Empty'])
eda_df_pandas2

### Remove useless columns

In [ ]:
eda_df = eda_df.drop(*useless_columns)

In [ ]:
pd.DataFrame(eda_df.dtypes, columns = ['Column Name','Data type'])

In [142]:
spark.stop()

I1110 07:32:53.662405 29725 sched.cpp:2174] Asked to stop the driver
I1110 07:32:53.662559 30188 sched.cpp:1207] Stopping framework 89161c75-8817-4ae4-ab24-cba26241d6f9-56916